<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KINK BMX</title>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jaldi:wght@400;700&family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/header.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

     <script type="text/javascript">
       $(document).ready(function(){
         $('#hidder.icon').click(function(){
           $('.search').toggleClass('active')
         })
       })
     </script>
     
</head>
<body style="width: 100%;">
       <div class="toolbar"> 
       <div class="header"> 
         <div class="buttons">
        <button class="ui icon button">
            <i class="normal facebook f icon" onClick='location.href="https://www.facebook.com/kinkbmx/"' ></i>
          </button>
          <button class="ui icon button">
            <i class="normal twitter icon" onClick='location.href="https://twitter.com/kinkbikes?lang=en"'></i>
          </button>
          <button class="ui icon button">
            <i class="normal instagram icon" onClick='location.href="https://www.instagram.com/kinkbmx/?hl=en"'></i>
          </button>
          <button class="ui icon button">
            <i class="normal youtube icon" onClick='location.href="https://www.youtube.com/channel/UCTcAhfF9BLSDoJawNXZ7t-Q?sub_confirmation=1"'></i>
          </button>
        </div>
        
              <select name="cont" class="ui dropdown" id="select">
                <option value="USD"> USD</option>
                <option value="CAD"> CAD</option>
                <option value="INR">INR</option>
                <option value="GBP"> GBP</option>
                <option value="AUD">AUD</option>
                <option value="EUR">EUR</option>
                <option value="JPY">JPY</option>
              </select>
            </div>
    </div>
  
    <nav id="navbar">
      <div class="container1">  

        
        
         <div class="search">
            <div  class="icon" id="hidder" onclick="showHide('text')"> </div>
            <div class="form" >
                <form> 
                   <input type="text" name="" placeholder="SERCH OUR STORE" >
                </form>
              
             </div>
         </div>
   
   
           <div class="menu" id="text" >
            <a  href="/"   class="nav-link active" id="logo" > <img src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/kinkbmx_gld_150x.png?v=1553541883"> </a>
            
            <ul class="nav-links" >
                <li> <a href="/collections/bikes">Bikes</a></li>
                <li> <a href="/collections/frames">Frames</a></li>
                <li>  <a href="/collections/parts">   Parts</a>
                  <ul>
                        <li id="first" > <a href="/collections/parts">All</a></li>
                        <li> <a href="/collections/forks">Forks</a></li>
                        <li> <a href="/collections/bars">Bars</a></li>
                        <li> <a href="/collections/bottom-bracket-parts">Cranks & BB's</a></li>
                        <li> <a href="/collections/tires">Tires</a></li>
                        <li> <a href="/collections/seats">Seating</a></li>
                        <li> <a href="/collections/pedals">Pedals</a></li>
                        <li> <a href="/collections/pegs">Pegs & Hub Guards</a></li>
                        <li> <a href="/collections/sprockets">Sprockets</a></li>
                        <li> <a href="/collections/stems">Stems & Headsets</a></li>
                        <li> <a href="/collections/grips">Grips & Barends</a></li>
                        <li> <a href="/collections/brakes">Brakes</a></li>
                        <li> <a href="/collections/replacement-parts">Replacement Parts</a></li>
                        <li> <a href="/collections/miscellaneous">Misc</a></li>
                    </ul>
                </li>
                <li> <a href="/collections/apparel">Apparel</a>
                    <ul class="apparel">
                        <li id="first" > <a href="/collections/apparel">All</a> </li>
                        <li> <a href="/collections/t-shirts">T-Shirts</a> </li>
                        <li> <a href="/collections/sweatshirts">Sweatshirts</a> </li>
                        <li> <a href="/collections/jackets">Jackets</a> </li>
                        <li> <a href="/collections/specialty">Specialty</a> </li>
                        <li> <a href="/collections/hats">Hats</a> </li>
                        <li> <a href="/collections/beanies">Beanies</a> </li>
                        <li> <a href="/collections/bottoms">Bottoms</a> </li>
                        <li> <a href="/collections/bags">Bags</a> </li>
                        <li> <a href="/collections/accessories">Accessories</a> </li>

                    </ul>
                </li>
                <li> <a href="/collections/merch">Merch</a>
                    <ul class="merch">
                        <li id="first" > <a href="/collections/merch">All</a> </li>
                        <li> <a href="/collections/sticker">Stickers</a> </li>
                        <li> <a href="/collections/mystery-box">Mystery Box</a> </li>
                        <li> <a href="/collections/gift-certificates">Gift Cards</a> </li>
                        <li> <a href="/collections/champagne">Champagne</a> </li>

                    </ul>
                </li>
                  
            
            
                <li> <a href="/collections/clearance">Clearance</a></li>
                <li> <a href="https://www.youtube.com/channel/UCTcAhfF9BLSDoJawNXZ7t-Q?sub_confirmation=1">Video</a></li>
                <li> <a href="/pages/dealer-locator">Dealers</a></li>
                <li> <a href="/pages/team">Team</a></li>
                <li> <a href="/blogs">News</a></li>
            </ul>
        
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          
        </div>
        <div class="icons"> 
        <button class="ui icon button" id="usericon" >
          
           <i class="large user outline icon"  onClick='location.href="/login"'></i> 
          </button>
          <button class="ui icon button" id="shop">

            <i class=" large shopping cart icon"></i>
          </button>
        </div>
         </div>
         
   <div id='cssmenu' class="sidebar">
<ul>
   <li class='active'><a href='#'><span>
         <select name="cont" class="ui dropdown" id="select">
                <option value="USD"> USD</option>
                <option value="CAD"> CAD</option>
                <option value="INR">INR</option>
                <option value="GBP"> GBP</option>
                <option value="AUD">AUD</option>
                <option value="EUR">EUR</option>
                <option value="JPY">JPY</option>
              </select>

   </span></a></li>
   <li class='last'><a href='/collections/bikes'><span>Bikes</span></a></li>
   <li class='last'><a href='/collections/frames'><span>Frames</span></a></li>

   <li class='has-sub'><a href='/collections/parts'><span>Parts</span></a>
      <ul>
         <li><a href='/collections/parts'><span>All</span></a></li>
         <li><a href='/collections/forks'><span>Forks</span></a></li>
         <li><a href='/collections/bars'><span>Bars</span></a></li>
         <li><a href='/collections/bottom-bracket-parts'><span>Cranks & BB's</span></a></li>
         <li><a href='/collections/tires'><span>Tires</span></a></li>
         <li><a href='/collections/seats'><span>Seating</span></a></li>
         <li><a href='/collections/pedals'><span>Pedals</span></a></li>
         <li><a href='/collections/pegs'><span>Pegs & HubGuards</span></a></li>
         <li><a href='/collections/sprockets'><span>Sprockets</span></a></li>
         <li><a href='/collections/stems'><span>Stems & Headsets</span></a></li>
         <li><a href='/collections/grips'><span>Grips & Barends</span></a></li>
         <li><a href='/collections/brakes'><span>Brakes</span></a></li>
         <li><a href='/collections/replacement-parts'><span>Replacement Parts</span></a></li>

         <li class='last'><a href='/collections/miscellaneous'><span>Misc</span></a></li>
      </ul>
   </li>
   <li class='has-sub'><a href='/collections/apparel'><span>Apparel</span></a>
      <ul>
         <li><a href='/collections/apparel'><span>All</span></a></li>
         <li><a href='/collections/t-shirts'><span>T-Shirts</span></a></li>
         <li><a href='/collections/sweatshirts'><span>Swetshirts</span></a></li>
         <li><a href='/collections/jackets'><span>Jackets</span></a></li>
         <li><a href='/collections/specialty'><span>Specialty</span></a></li>
         <li><a href='/collections/hats'><span>Hats</span></a></li>
         <li><a href='/collections/beanies'><span>Beanies</span></a></li>
         <li><a href='/collections/bottoms'><span>Bottoms</span></a></li>
         <li><a href='/collections/bags'><span>Bags</span></a></li>

         <li class='last'><a href='/collections/accessories'><span>Accessories</span></a></li>
      </ul>
   </li>
   <li class='has-sub'><a href='/collections/merch'><span>Merch</span></a>
      <ul>
         <li><a href='/collections/merch'><span>All</span></a></li>
         <li><a href='/collections/sticker'><span>Stickers</span></a></li>
         <li><a href='/collections/mystery-box'><span>Mystery Box</span></a></li>
         <li><a href='/collections/gift-certificates'><span>Gift Cards</span></a></li>
      
         <li class='last'><a href='/collections/champagne'><span>Champagne</span></a></li>
      </ul>
   </li>



   <li class='last'><a href='#'><span>Clearance</span></a></li>
   <li class='last'><a href='https://www.youtube.com/channel/UCTcAhfF9BLSDoJawNXZ7t-Q?sub_confirmation=1'><span>Video</span></a></li>
   <li class='last'><a href='#'><span>Dealers</span></a></li>
   <li class='last'><a href='#'><span>Team</span></a></li>
   <li class='last'><a href='#'><span>News</span></a></li>
   <li ><a href='#'><span>Log in 
   <div class="buttons">
        <button class="ui icon button">
            <i class="big facebook f icon" onClick='location.href="https://www.facebook.com/kinkbmx/"' ></i>
          </button>
          <button class="ui icon button">
            <i class="big twitter icon" onClick='location.href="https://twitter.com/kinkbikes?lang=en"'></i>
          </button>
          <button class="ui icon button">
            <i class="big instagram icon" onClick='location.href="https://www.instagram.com/kinkbmx/?hl=en"'></i>
          </button>
          <button class="ui icon button">
            <i class="big youtube icon" onClick='location.href="https://www.youtube.com/channel/UCTcAhfF9BLSDoJawNXZ7t-Q?sub_confirmation=1"'></i>
          </button>
        </div></span></a></li>


</ul>
</div>


    </nav>

<div class="container">
    <div id="carouselContent" style="margin: 0;" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active text-center p-4">
                 <p> We are still shiping orders daily!</p>
            </div>
            <div class="carousel-item text-center p-4">
                
              <p>Free Champagne DVD with all orders!</p>
            </div>
            <div class="carousel-item text-center p-4">
                
              <p> Free stickers with every order!</p>
            </div>
        </div>
        
    </div>
</div>
