<%- include("partials/header") %>
<link rel="stylesheet" type="text/css" href="/stylesheets/catalogs.css">

<header class="catalogs-page-header">
	<h1 class="catalogs-page-title">CATALOGS</h1>
</header>



<div  class="catalogs-page">

	<div class="catalogs-content">  
		<div class="catalogs-pic" >  
			<a href="#" > <img src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/Kink2021BikeCover1.jpg?v=1589470713">  </a>   
			<div class="catalogs-links" > 
				<a class="catalogs-link" href="#"> <span  class="underline" > 2021 BIKE CATALOG  </span>  </a> 
				<hr align="center"  size="2" color="836600" />
			</div>
		</div>
		<div class="catalogs-pic" >  
			<a href="#" >  <img src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/KinkSS20Cover1.jpg?v=1589470713"> </a>   
			<div class="catalogs-links" > 
				<a class="catalogs-link" href="#"> <span  class="underline" >SPRING/SUMMER 2020 APPAREL CATALOG </span> </a>
				<hr align="center"  size="2" color="836600" />
                

			</div>
		</div>
		<div class="catalogs-pic" >  
			<a href="#" > <img src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/2020bikecollection_32cc284d-d26d-452b-b831-0e94301238ae.jpg?v=1574269095"> </a>   
			<div class="catalogs-links" > 
				<a class="catalogs-link" href="#"> <span  class="underline" > 2020 BIKE CATALOG </span> </a>
				<hr align="center"  size="2" color="836600" />



			</div>
		</div>
		<div class="catalogs-pic" >  
			<a href="#" > <img src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/fall2019apparel_7caaf974-9973-4b75-989c-69e1cf180888.jpg?v=1574269076">   </a>   
			<div class="catalogs-links" > 
				<a class="catalogs-link" href="#"> <span  class="underline" > FALL/WINTER 2019 APPAREL CATALOG</span> </a>
				<hr align="center"  size="2" color="836600" />



			</div>
		</div>
		<div class="catalogs-pic" >  
			<a href="#" >  <img src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/spring2019apparel_50fbe4ee-bd03-4fb0-94a5-0028640ac2a9.jpg?v=1574269050"> </a>   
			<div class="catalogs-links" > 
				<a class="catalogs-link" href="#"> <span  class="underline" > SPRING/SUMMER 2019 APPAREL CATALOG </span> </a>
				<hr align="center"  size="2" color="836600" />



			</div>
		</div>
		<div class="catalogs-pic" >  
			<a href="#" > <img src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/2019bikecollection_54e95305-0ea8-4058-90aa-244c407d8acb.jpg?v=1574269018">   </a>   
			<div class="catalogs-links" > 
				<a class="catalogs-link" href="#"> <span  class="underline" > 2019 BIKE CATALOG </span> </a>
				<hr align="center"  size="2" color="836600" />



			</div>
		</div>

		<div class="catalogs-pic" >  
			<a href="#" > <img src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/2018fallapparel_434842ab-98bb-454c-8e99-5f6ce024ccbb.jpg?v=1574268785">  </a>   
			<div class="catalogs-links" > 
				<a class="catalogs-link" href="#"> <span  class="underline" >FALL/WINTER 2018 APPAREL CATALOG</span> </a>
				<hr align="center"  size="2" color="836600" />



			</div>
		</div>

		<div class="catalogs-pic" >  
			<a href="#" > <img src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/2018springapparel_f394c9b1-c0bd-4beb-95a3-945ef5d9a8d9.jpg?v=1574268767">  </a>   
			<div class="catalogs-links" > 
				<a class="catalogs-link" href="#"> <span  class="underline" >SPRING/SUMMER 2018 APPAREL CATALOG</span> </a>
				<hr align="center"  size="2" color="836600" />



			</div>
		</div>

		<div class="catalogs-pic" >  
			<a href="#" > <img src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/2018bikecollection_53bbd449-efd3-4e78-bfa1-f7ae651c8a86.jpg?v=1574268742">  </a>   
			<div class="catalogs-links" > 
				<a class="catalogs-link" href="#"> <span  class="underline" > 2018 BIKE CATALOG</span> </a>
				<hr align="center"  size="2" color="836600" />



			</div>
		</div>

		<div class="catalogs-pic" >  
			<a href="#" >  <img src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/2017fallapparel_203cda3f-fdc5-4e89-a72a-0c307ef218c6.jpg?v=1574268716"> </a>   
			<div class="catalogs-links" > 
				<a class="catalogs-link" href="#"> <span  class="underline" > FALL 2017 APPAREL CATALOG</span> </a>
				<hr align="center"  size="2" color="836600" />



			</div>
		</div>

		<div class="catalogs-pic" >  
			<a href="#" > <img src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/2017partscatalog_cc5dfdc1-701a-4ef1-917f-188e04b43ed1.jpg?v=1574268687">  </a>   
			<div class="catalogs-links" > 
				<a class="catalogs-link" href="#"> <span  class="underline" > 2017 PARTS CATALOG </span> </a>
				<hr align="center"  size="2" color="836600" />



			</div>
		</div>


		<div class="catalogs-pic" >  
			<a href="#" > <img src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/2017bikecollection_2529bfc5-06e7-4748-8092-e6aaf69d24cd.jpg?v=1574268660">  </a>   
			<div class="catalogs-links" > 
				<a class="catalogs-link" href="#"> <span  class="underline" > 2017 BIKE CATALOG</span> </a>
				<hr align="center"  size="2" color="836600" />



			</div>
		</div>


		<div class="catalogs-pic" >  
			<a href="#" > <img src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/2016fallapparel_440e100c-ded0-4817-9465-d81593931d43.jpg?v=1574268636">  </a>   
			<div class="catalogs-links" > 
				<a class="catalogs-link" href="#"> <span  class="underline" >2016 FALL APPAREL CATALOG </span> </a>
				<hr align="center"  size="2" color="836600" />



			</div>
		</div>

		<div class="catalogs-pic" >  
			<a href="#" > <img src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/2016springapparel.jpg?v=1574268617">  </a>   
			<div class="catalogs-links" > 
				<a class="catalogs-link" href="#"> <span  class="underline" > 2016 SPRING APPAREL CATALOG</span> </a>
				<hr align="center"  size="2" color="836600" />



			</div>
		</div>
		<div class="catalogs-pic" >  
			<a href="#" > <img src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/2016partscatalog_c2c7965e-ba44-4fd1-911d-ddc3b8ac37cf.jpg?v=1574268588">  </a>   
			<div class="catalogs-links" > 
				<a class="catalogs-link" href="#"> <span  class="underline" >2016 PARTS CATALOG</span> </a>
				<hr align="center"  size="2" color="836600" />



			</div>
		</div>




	</div>

</div>


<%- include("partials/footer") %>
