<%- include("partials/header") %>


<h1>THIS IS A COLLECTIONS PAGE!!!</h1>

<ul>
    <li><a href="/collections/accessories">Accessories</a></li>
    <li><a href="/collections/apparel">Apparel</a></li>
    <li><a href="/collections/bags">Bags</a></li>
    <li><a href="/collections/bars">Bars</a></li>
    <li><a href="/collections/beanies">Beanies</a></li>
    <li><a href="/collections/bikes">Bikes</a></li>
    <li><a href="/collections/bottoms">Bottoms</a></li>
    <li><a href="/collections/brakes">Brakes</a></li>
    <li><a href="/collections/champagne">Champagne</a></li>
    <li><a href="/collections/clearance">Clearance</a></li>
    <li><a href="/collections/bottom-bracket-parts">Cranks & BB's</a></li>
    <li><a href="/collections/forks">Forks</a></li>
    <li><a href="/collections/frame-parts">Frame Parts</a></li>
    <li><a href="/collections/frames">Frames</a></li>
    <li><a href="/collections/gift-certificates">Gift Cards</a></li>
    <li><a href="/collections/grips">Grips & Barends</a></li>
    <li><a href="/collections/hats">Hats</a></li>
    <li><a href="/collections/hub-parts">Hub parts</a></li>
    <li><a href="/collections/jackets">Jackets</a></li>
    <li><a href="/collections/merch">Merch</a></li>
    <li><a href="/collections/miscellaneous">Miscellaneous</a></li>
    <li><a href="/collections/mystery-box">Mystery Box</a></li>
    <li><a href="/collections/parts">Parts</a></li>
    <li><a href="/collections/pedal-parts">Pedal Parts</a></li>
    <li><a href="/collections/pedals">Pedals</a></li>
    <li><a href="/collections/pegs">Pegs & Hub Guards</a></li>
    <li><a href="/collections/replacement-parts">Replacement Parts</a></li>
    <li><a href="/collections/seats">Seating</a></li>
    <li><a href="/collections/specialty">Specialty</a></li>
    <li><a href="/collections/sprockets">Sprockets</a></li>
    <li><a href="/collections/stems">Stems & Headsets</a></li>
    <li><a href="/collections/stickers">Stickers</a></li>
    <li><a href="/collections/sweatshirts">Sweatshirts</a></li>
    <li><a href="/collections/tires">Tires</a></li>
    <li><a href="/collections/t-shirts">T-Shirts</a></li>
</ul>

<%- include("partials/footer") %>
