<%- include("partials/header") %>
<link rel="stylesheet" type="text/css" href="/stylesheets/dealer-locator.css">

<header class="dealer-locator-page-header">
	<h1 class="dealer-locator-page-title"> DEALER LOCATOR</h1>
</header>

<div class="dealer-body">  

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d37822746.37194034!2d-122.94243459137482!3d36.61487485519655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2skz!4v1594216142586!5m2!1sru!2skz" ></iframe>
<div class=" dealers-search">
			<input class="dealers-search-input" type="" name="" placeholder="Search by address">
      <div class="addresses">
    <div class="develic-item"  id="first" develic-item-ind="0"><a class="develic-heading ">42North</a><div class="develic-body">662 Butternut Dr Holland MI 49424<br>Phone: +1 616-399-0414<br><a href="http://42northmi.com/" target="_blank">Website</a><br> </div></div>
    <div class="develic-item" develic-item-ind="1"><a class="develic-heading ">505 Cycles</a><div class="develic-body">4301 East Main St Farmington NM 87402<br>Phone: +1 505-278-8900<br><a href="https://www.505cycles.com" target="_blank">Website</a><br> </div></div>
    <div class="develic-item" develic-item-ind="2"><a class="develic-heading ">5050 Skatepark</a><div class="develic-body">110 Prospect St Staten Island NY 10304<br>Phone: +1 347-857-6007<br><a href="https://www.5050skatepark.com" target="_blank">Website</a><br> </div></div>
    <div class="develic-item" develic-item-ind="3"><a class="develic-heading ">5050BMX</a><div class="develic-body">1485 West Hill Field Rd STE 205 Layton UT 84041<br>Phone: +1 801-546-2691 <br><a href="http://5050bmx.com/" target="_blank">Website</a><br> </div></div>
    <div class="develic-item" develic-item-ind="4"><a class="develic-heading ">58 Degrees North</a><div class="develic-body">1231 Mill Bay Rd Kodiak AK 99615<br>Phone: +1 907-486-6249<br><a href="https://58-degrees.com/about/" target="_blank">Website</a><br> </div></div>
    <div class="develic-item" develic-item-ind="5"><a class="develic-heading ">720 BMX Shop</a><div class="develic-body">3418 Handy Rd Unit 204 Tampa FL 33618<br>Phone: +1 813-240-3447<br><a href="http://www.720bmxshop.com/" target="_blank">Website</a><br> </div></div>
    <div class="develic-item" develic-item-ind="6"><a class="develic-heading ">A &amp; B Hobbies &amp; Cycles</a><div class="develic-body">1202 N Washington St Sandusky OH 44870<br>Phone: +1 419-625-4242<br><a href="http://www.ab-hc.com/" target="_blank">Website</a><br> </div></div>
    <div class="develic-item" develic-item-ind="7"><a class="develic-heading ">A-1 Cycling - Herndon</a><div class="develic-body">2451-I3 Centerville Rd. Herndon VA 20171<br>Phone: +1 703-793-0400<br><a href="https://www.a1cycling.com/" target="_blank">Website</a><br> </div></div>
    <div class="develic-item" develic-item-ind="8"><a class="develic-heading ">A-1 Cycling - Manassas</a><div class="develic-body">7705 Sudley Rd Manassas VA 20109<br>Phone: +1 703-361-6101<br><a href="http://www.a1cycling.com/" target="_blank">Website</a><br> </div></div>
    <div class="develic-item" develic-item-ind="9"><a class="develic-heading ">A-1 Cycling - Woodbridge</a><div class="develic-body">12383 Dillingham Square Woodbridge VA 22192<br>Phone: +1 703-730-0303<br><a href="http://www.a1cycling.com/" target="_blank">Website</a><br> </div></div>
    <div class="develic-item" develic-item-ind="10"><a class="develic-heading ">AC Clutch Bicycle Shop</a><div class="develic-body">1384 Ralph David Abernathy BLVD STE B Atlanta GA 30310<br>Phone: +1 404-594-4205<br><a href="" target="_blank">Website</a><br> </div></div>
      </div>
</div>

 </div>
 <div class="dealers-collections" >  
   <h2> USA AUTHORIZED ONLINE DEALERS  </h2>
   <div class="grid">
            
              <div class="column1">
                <div class="dealers-item">
                  <p class="dealers-online-label"><strong>ALBE'S</strong></p>
                  <p class="dealers-text" >1511 North Main St<br>
Clawson, MI 48017<br>
248-951-2475<br>
<a class="dealers-link" href="https://albes.com" target="_blank">www.albes.com</a></p>
                </div>
              
            
              
                <div class="dealers-item">
                  <p class="dealers-online-label"><strong>BAKERIZED</strong></p>
                  <p class="dealers-text" >4032 Parkmead Dr<br>
Grove City, OH 43123<br>
380-666-0052<br>
<a class="dealers-link" href="https://www.bakerized.com/" target="_blank">www.bakerized.com</a></p>
                </div>
              
            
              
                <div class="dealers-item">
                  <p class="dealers-online-label"><strong>C &amp; W CYCLE</strong></p>
                  <p class="dealers-text" >702 North St<br>
Morenci, MI 49256<br>
517-458-6302<br>
<a class="dealers-link" href="https://bmxguru.com/" target="_blank">www.bmxguru.com</a></p>
                </div>
              
            
              
                <div class="dealers-item">
                  <p class="dealers-online-label"><strong>DAN'S COMPETITION</strong></p>
                  <p class="dealers-text" >2070 E. 20th Street<br>
Chico, CA 95928<br>
844-970-4269<br>
<a class="dealers-link" href="https://danscomp.com/" target="_blank">www.danscomp.com</a></p>
                </div>
               </div>
              <div class="column2">
            
              
                <div class="dealers-item">
                  <p class="dealers-online-label"><strong>DOWNTOWN BMX</strong></p>
                  <p class="dealers-text" >4519 Highway 220<br>
Summerfield, NC 27358<br>
336-258-2294<br>
<a class="dealers-link" href="https://downtownbmx.com/" target="_blank">www.downtownbmx.com</a></p>
                </div>
              
            
              
                <div class="dealers-item">
                  <p class="dealers-online-label"><strong>EMPIRE BMX</strong></p>
                  <p class="dealers-text" >6310 North Lamar Blvd<br>
Austin, TX 78752<br>
512-474-4269<br>
<a class="dealers-link" href="https://empirebmx.com/" target="_blank">www.empirebmx.com</a></p>
                </div>
              
            
              
                <div class="dealers-item">
                  <p class="dealers-online-label"><strong>PEDAL ACTION BMX</strong></p>
                  <p class="dealers-text" >1519 N Union Blvd<br>
Colorado Springs, CO 80909 <br>
719-634-7972<br>
<a class="dealers-link" href="https://pedalactionbmx.com/" target="_blank">www.pedalactionbmx.com</a></p>
                </div>
              
            
              
                <div class="dealers-item">
                  <p class="dealers-online-label"><strong>SOURCE BMX</strong></p>
                  <p class="dealers-text" >131 St Matthews Ave<br>
Louisville, KY 40207<br>
855-564-2152<br>
<a class="dealers-link" href="https://sourcebmx.com/" target="_blank">www.sourcebmx.com</a></p>
                </div>
              </div>
          
          </div>
 </div>

<%- include("partials/footer") %>
