<%- include("partials/header") %>
<link rel="stylesheet" type="text/css" href="/stylesheets/dealer-locator.css">

<header class="dealer-locator-page-header">
	<h1 class="dealer-locator-page-title"> DEALER LOCATOR</h1>
</header>

<div class="dealer-body">  

  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d37822746.37194034!2d-122.94243459137482!3d36.61487485519655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2skz!4v1594216142586!5m2!1sru!2skz" ></iframe>
  <div class=" dealers-search">
   <input class="dealers-search-input" type="" name="" placeholder="Search by address">
   <div class="addresses">
    <div class="develic-item"  id="first" develic-item-ind="0"><a class="develic-heading ">42North</a><div class="develic-body">662 Butternut Dr Holland MI 49424<br>Phone: +1 616-399-0414<br><a href="http://42northmi.com/" target="_blank">Website</a><br> </div></div>
    <div class="develic-item" develic-item-ind="1"><a class="develic-heading ">505 Cycles</a><div class="develic-body">4301 East Main St Farmington NM 87402<br>Phone: +1 505-278-8900<br><a href="https://www.505cycles.com" target="_blank">Website</a><br> </div></div>
    <div class="develic-item" develic-item-ind="2"><a class="develic-heading ">5050 Skatepark</a><div class="develic-body">110 Prospect St Staten Island NY 10304<br>Phone: +1 347-857-6007<br><a href="https://www.5050skatepark.com" target="_blank">Website</a><br> </div></div>
    <div class="develic-item" develic-item-ind="3"><a class="develic-heading ">5050BMX</a><div class="develic-body">1485 West Hill Field Rd STE 205 Layton UT 84041<br>Phone: +1 801-546-2691 <br><a href="http://5050bmx.com/" target="_blank">Website</a><br> </div></div>
    <div class="develic-item" develic-item-ind="4"><a class="develic-heading ">58 Degrees North</a><div class="develic-body">1231 Mill Bay Rd Kodiak AK 99615<br>Phone: +1 907-486-6249<br><a href="https://58-degrees.com/about/" target="_blank">Website</a><br> </div></div>
    <div class="develic-item" develic-item-ind="5"><a class="develic-heading ">720 BMX Shop</a><div class="develic-body">3418 Handy Rd Unit 204 Tampa FL 33618<br>Phone: +1 813-240-3447<br><a href="http://www.720bmxshop.com/" target="_blank">Website</a><br> </div></div>
    <div class="develic-item" develic-item-ind="6"><a class="develic-heading ">A &amp; B Hobbies &amp; Cycles</a><div class="develic-body">1202 N Washington St Sandusky OH 44870<br>Phone: +1 419-625-4242<br><a href="http://www.ab-hc.com/" target="_blank">Website</a><br> </div></div>
    <div class="develic-item" develic-item-ind="7"><a class="develic-heading ">A-1 Cycling - Herndon</a><div class="develic-body">2451-I3 Centerville Rd. Herndon VA 20171<br>Phone: +1 703-793-0400<br><a href="https://www.a1cycling.com/" target="_blank">Website</a><br> </div></div>
    <div class="develic-item" develic-item-ind="8"><a class="develic-heading ">A-1 Cycling - Manassas</a><div class="develic-body">7705 Sudley Rd Manassas VA 20109<br>Phone: +1 703-361-6101<br><a href="http://www.a1cycling.com/" target="_blank">Website</a><br> </div></div>
    <div class="develic-item" develic-item-ind="9"><a class="develic-heading ">A-1 Cycling - Woodbridge</a><div class="develic-body">12383 Dillingham Square Woodbridge VA 22192<br>Phone: +1 703-730-0303<br><a href="http://www.a1cycling.com/" target="_blank">Website</a><br> </div></div>
    <div class="develic-item" develic-item-ind="10"><a class="develic-heading ">AC Clutch Bicycle Shop</a><div class="develic-body">1384 Ralph David Abernathy BLVD STE B Atlanta GA 30310<br>Phone: +1 404-594-4205<br><a href="" target="_blank">Website</a><br> </div></div>
  </div>
</div>

</div>
<div class="dealers-collections" >  
  <h2 class="aut"> USA AUTHORIZED ONLINE DEALERS  </h2>
 <div class="grid">

  <div class="column1">
    <div class="dealers-item">
      <p class="dealers-online-label"><strong>ALBE'S</strong></p>
      <p class="dealers-text" >1511 North Main St<br>
        Clawson, MI 48017<br>
        248-951-2475<br>
        <a class="dealers-link" href="https://albes.com" target="_blank">www.albes.com</a></p>
      </div>



      <div class="dealers-item">
        <p class="dealers-online-label"><strong>BAKERIZED</strong></p>
        <p class="dealers-text" >4032 Parkmead Dr<br>
          Grove City, OH 43123<br>
          380-666-0052<br>
          <a class="dealers-link" href="https://www.bakerized.com/" target="_blank">www.bakerized.com</a></p>
        </div>



        <div class="dealers-item">
          <p class="dealers-online-label"><strong>C &amp; W CYCLE</strong></p>
          <p class="dealers-text" >702 North St<br>
            Morenci, MI 49256<br>
            517-458-6302<br>
            <a class="dealers-link" href="https://bmxguru.com/" target="_blank">www.bmxguru.com</a></p>
          </div>



          <div class="dealers-item">
            <p class="dealers-online-label"><strong>DAN'S COMPETITION</strong></p>
            <p class="dealers-text" >2070 E. 20th Street<br>
              Chico, CA 95928<br>
              844-970-4269<br>
              <a class="dealers-link" href="https://danscomp.com/" target="_blank">www.danscomp.com</a></p>
            </div>
          </div>
          <div class="column2">


            <div class="dealers-item">
              <p class="dealers-online-label"><strong>DOWNTOWN BMX</strong></p>
              <p class="dealers-text" >4519 Highway 220<br>
                Summerfield, NC 27358<br>
                336-258-2294<br>
                <a class="dealers-link" href="https://downtownbmx.com/" target="_blank">www.downtownbmx.com</a></p>
              </div>
              

              
              <div class="dealers-item">
                <p class="dealers-online-label"><strong>EMPIRE BMX</strong></p>
                <p class="dealers-text" >6310 North Lamar Blvd<br>
                  Austin, TX 78752<br>
                  512-474-4269<br>
                  <a class="dealers-link" href="https://empirebmx.com/" target="_blank">www.empirebmx.com</a></p>
                </div>



                <div class="dealers-item">
                  <p class="dealers-online-label"><strong>PEDAL ACTION BMX</strong></p>
                  <p class="dealers-text" >1519 N Union Blvd<br>
                    Colorado Springs, CO 80909 <br>
                    719-634-7972<br>
                    <a class="dealers-link" href="https://pedalactionbmx.com/" target="_blank">www.pedalactionbmx.com</a></p>
                  </div>



                  <div class="dealers-item">
                    <p class="dealers-online-label"><strong>SOURCE BMX</strong></p>
                    <p class="dealers-text" >131 St Matthews Ave<br>
                      Louisville, KY 40207<br>
                      855-564-2152<br>
                      <a class="dealers-link" href="https://sourcebmx.com/" target="_blank">www.sourcebmx.com</a></p>
                    </div>
                  </div>

                </div>
              </div>
              <div class="distributors-body">
               
               <div class="accordion js-accordion">
                <div class="accordion__item js-accordion-item">
 <h2 class="label-small">INTERNATIONAL DISTRIBUTORS</h2>
                  <div class="accordion-header js-accordion-header">ASIA</div> 
                  <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">
                     <div class="table-wrapper">


                      <div class="grid-item">

                        <p class="dealers-international--label"><strong>CHINA</strong></p>

                        <p>

                          <strong>Touch Distribution</strong><br>


                          Tel: +0086 18501739743<br>


                          <a class="dealers-link" href="mailto:info@touch-distribution.com">info@touch-distribution.com</a><br>
                          <a class="dealers-link" href="http://www.touch-distribution.com" target="_blank">touch-distribution.com</a><br>

                        </p> 
                      </div>
                      


                      
                      <div class="grid-item">

                        <p class="dealers-international--label"><strong>HONG KONG</strong></p>

                        <p>

                          <strong>Touch Distribution</strong><br>


                          Tel: +0086 18501739743<br>


                          <a  class="dealers-link"href="mailto:info@touch-distribution.com">info@touch-distribution.com</a><br>
                          <a  class="dealers-link"href="http://www.touch-distribution.com" target="_blank">touch-distribution.com</a><br>

                        </p> 
                      </div>
                      


                      
                      <div class="grid-item">

                        <p class="dealers-international--label"><strong>INDONESIA</strong></p>

                        <p>

                          <strong>Hope Cycles</strong><br>


                          Tel: (62) 85715355097<br>


                          <a class="dealers-link" href="mailto:hopecycles@gmail.com">hopecycles@gmail.com</a><br>
                          <a class="dealers-link" href="http://www.hopebmx.com" target="_blank">www.hopebmx.com</a><br>

                        </p> 
                      </div>
                      


                      
                      <div class="grid-item">

                        <p class="dealers-international--label"><strong>ISRAEL</strong></p>

                        <p>

                          <strong>Power 4 Bike</strong><br>


                          Tel: 05 25458468<br>


                          <a  class="dealers-link"href="mailto:power4bike@gmail.com">power4bike@gmail.com</a><br>
                          <a  class="dealers-link"href="http://www.power-bike.co.il" target="_blank">www.power-bike.co.il</a><br>

                        </p> 
                      </div>
                      


                      
                      <div class="grid-item">

                        <p class="dealers-international--label"><strong>JAPAN</strong></p>

                        <p>

                          <strong>Motorcross International</strong><br>


                          Tel: 052 773 0256<br>


                          <a class="dealers-link" href="mailto:info@motocrossinternational.com">info@motocrossinternational.com</a><br>
                          <a class="dealers-link" href="http://www.ride2rock.jp" target="_blank">www.ride2rock.jp
                          </a><br>

                        </p> 
                      </div>
                      


                      
                      <div class="grid-item" >

                        <p class="dealers-international--label"><strong  >KAZAKHSTAN</strong></p>

                        <p>

                          <strong>Pro Sport KZ</strong><br>



                          <a class="dealers-link" href="mailto:nurlan@burton.kz">nurlan@burton.kz</a><br>
                          <a class="dealers-link" href="http://www.prosport.kz" target="_blank">www.prosport.kz
                          </a>

                        </p> 
                      </div>
                      


                      
                      <div class="grid-item">

                        <p class="dealers-international--label"><strong>KOREA</strong></p>

                        <p>

                          <strong>4130 Bike</strong><br>


                          Tel: 82 2 3142 4130<br>


                          <a class="dealers-link" href="mailto:lee@bmxkorea.com">lee@bmxkorea.com</a><br>
                          <a class="dealers-link" href="http://www.4130.co.kr" target="_blank">www.4130.co.kr
                          </a><br>

                        </p> 
                      </div>
                      


                      
                      <div class="grid-item">

                        <p class="dealers-international--label"><strong>KUWAIT</strong></p>

                        <p>

                          <strong>Mean Streets</strong><br>


                          Tel: 965 94972914<br>


                          <a class="dealers-link" href="mailto:meanstreetsq8@yahoo.com">meanstreetsq8@yahoo.com</a><br>
                          <a class="dealers-link" href="http://www.facebook.com/Mean-Streets-BMX-Skate-Shop-143680892314782/" target="_blank">Mean Streets Facebook
                          </a><br>

                        </p> 
                      </div>
                      


                      
                      <div class="grid-item">

                        <p class="dealers-international--label"><strong>KYRGYZSTAN</strong></p>

                        <p>

                          <strong>X-Rider</strong><br>


                          Tel: +996 550 361005<br>+996 706 361005<br>


                          <a class="dealers-link" href="mailto:xrider.kg@gmail.com">xrider.kg@gmail.com</a><br>
                          <a class="dealers-link" href="http://www.nsrbikes.com.sg" target="_blank">www.nsrbikes.com.sg
                          </a><br>

                        </p> 
                      </div>
                      


                      
                      <div class="grid-item">

                        <p class="dealers-international--label"><strong>MALAYSIA</strong></p>

                        <p>

                          <strong>NSR Bikes</strong><br>


                          Tel: +6591385578<br>


                          <a class="dealers-link" href="mailto:simon@nsrbikes.com.sg">simon@nsrbikes.com.sg</a><br>
                          <a class="dealers-link" href="http://www.nsrbikes.com.sg" target="_blank">www.nsrbikes.com.sg
                          </a><br>

                        </p> 
                      </div>
                      


                      
                      <div class="grid-item">

                        <p class="dealers-international--label"><strong>RUSSIA</strong></p>

                        <p>

                          <strong>Toy Bike</strong><br>


                          Tel: +7-(499)-151 30 80<br>


                          <a class="dealers-link" href="mailto:info@toybike.ru">info@toybike.ru</a><br>
                          <a class="dealers-link" href="http://www.toybike.ru" target="_blank">www.toybike.ru
                          </a><br>

                        </p> 
                      </div>
                      


                      
                      <div class="grid-item">

                        <p class="dealers-international--label"><strong>SINGAPORE</strong></p>

                        <p>

                          <strong>NSR Bikes</strong><br>


                          Tel: +6591385578<br>


                          <a class="dealers-link" href="mailto:simon@nsrbikes.com.sg">simon@nsrbikes.com.sg</a><br>
                          <a class="dealers-link" href="http://www.nsrbikes.com.sg" target="_blank">www.nsrbikes.com.sg
                          </a><br>

                        </p> 
                      </div>
                      


                      
                      <div class="grid-item">

                        <p class="dealers-international--label"><strong>TAIWAN</strong></p>

                        <p>

                          <strong>Iron Horse BMX</strong><br>



                          <a class="dealers-link" href="mailto:ahkenbmx@yahoo.com.tw">ahkenbmx@yahoo.com.tw</a><br>
                          <a class="dealers-link" href="http://www.ihbmx.com" target="_blank">www.ihbmx.com
                          </a><br>

                        </p> 
                      </div>
                      


                      
                      <div class="grid-item">

                        <p class="dealers-international--label"><strong>THAILAND</strong></p>

                        <p>

                          <strong>NSR Bikes</strong><br>


                          Tel: +6591385578<br>


                          <a class="dealers-link" href="mailto:simon@nsrbikes.com.sg">simon@nsrbikes.com.sg</a><br>
                          <a class="dealers-link" href="http://www.nsrbikes.com.sg" target="_blank">www.nsrbikes.com.sg
                          </a><br>

                        </p> 
                      </div>

                    </div>      
                  </div>


                </div><!-- end of accordion body -->
              </div><!-- end of accordion item -->
              <div class="accordion__item js-accordion-item active">
                <div class="accordion-header js-accordion-header">AUSRTALIA</div> 
                <div class="accordion-body js-accordion-body">
                  <div class="accordion-body__contents">
                   <div class="table-wrapper">
                     <div class="grid-item ">

                      <p class="dealers-international--label"><strong>AUSTRALIA</strong></p>

                      <p>

                        <strong>Advance Traders</strong><br>


                        Tel: 1300 361 686<br>


                        <a class="dealers-link" href="mailto:corey@advancetraders.com.au">corey@advancetraders.com.au</a><br>
                        <a class="dealers-link" href="http://www.advancetraders.com.au" target="_blank">www.advancetraders.com.au
                        </a><br>

                      </p> 
                    </div>
                  </div>
                </div>

              </div><!-- end of accordion body -->
            </div><!-- end of accordion item -->
            <div class="accordion__item js-accordion-item">
              <div class="accordion-header js-accordion-header">EUROPE</div> 
              <div class="accordion-body js-accordion-body">
                <div class="accordion-body__contents">
                  <div class="table-wrapper">

                    <div class="grid-item ">

                      <p class="dealers-international--label"><strong>BELGIUM</strong></p>

                      <p>

                        <strong>Rock N Roll BMX</strong><br>


                        Tel: 0031 204081041<br>


                        <a class="dealers-link" href="mailto:info@rocknrollbmx.com">info@rocknrollbmx.com</a><br>
                        <a class="dealers-link"  href="http://www.rocknrollbmx.com" target="_blank">www.rocknrollbmx.com
                        </a><br>

                      </p> 
                    </div>

                    


                    <div class="grid-item ">

                      <p class="dealers-international--label"><strong>BULGARIA</strong></p>

                      <p>

                        <strong>Velomasters</strong><br>


                        Tel: +359  89 339 0013<br>


                        <a class="dealers-link"  href="mailto:info@velomasters.bg">info@velomasters.bg</a><br>
                        <a class="dealers-link"  href="http://www.velomasters.bg" target="_blank">www.velomasters.bg
                        </a><br>

                      </p> 
                    </div>

                    


                    <div class="grid-item ">

                      <p class="dealers-international--label"><strong>CROATIA</strong></p>

                      <p>

                        <strong>Evolution BMX</strong><br>


                        Tel: 386 40463382<br>


                        <a class="dealers-link"  href="mailto:luka@evolution-bmx.com">luka@evolution-bmx.com</a><br>
                        <a class="dealers-link"  href="http://www.evolution-bmx.com" target="_blank">www.evolution-bmx.com
                        </a><br>

                      </p> 
                    </div>

                    


                    <div class="grid-item ">

                      <p class="dealers-international--label"><strong>CZECH REPUBLIC</strong></p>

                      <p>

                        <strong>Junkride Crew</strong><br>


                        Tel: +421908161428<br>


                        <a class="dealers-link" href="mailto:info@junkridecrew.com">info@junkridecrew.com</a><br>
                        <a class="dealers-link" href="http://www.junkridecrew.com" target="_blank">www.junkridecrew.com
                        </a>

                      </p> 
                    </div>

                    


                    <div class="grid-item">

                      <p class="dealers-international--label"><strong>DENMARK</strong></p>

                      <p>

                        <strong>Centrano</strong><br>


                        Tel: 45 70444999<br>


                        <a class="dealers-link" href="http://www.centrano.com" target="_blank">www.centrano.com
                        </a><br>

                      </p> 
                    </div>

                    


                    <div class="grid-item ">

                      <p class="dealers-international--label"><strong>ESTONIA</strong></p>

                      <p>

                        <strong>Par BMX</strong><br>


                        Tel: +371 26401683<br>


                        <a class="dealers-link" href="mailto:info@parbmx.com">info@parbmx.com</a><br>
                        <a class="dealers-link" href="http://www.parbmx.com" target="_blank">www.parbmx.com
                        </a><br>

                      </p> 
                    </div>

                    


                    <div class="grid-item ">

                      <p class="dealers-international--label"><strong>FINLAND</strong></p>

                      <p>

                        <strong>Centrano</strong><br>


                        Tel: 45 70444999<br>


                        <a class="dealers-link" href="http://www.centrano.com" target="_blank">www.centrano.com
                        </a><br>

                      </p> 
                    </div>

                    


                    <div class="grid-item ">

                      <p class="dealers-international--label"><strong>FRANCE</strong></p>

                      <p>

                        <strong>Unleaded BMX</strong><br>


                        Tel: 04 94 53 70 95<br>


                        <a class="dealers-link"  href="mailto:jeffdenhez@yahoo.fr">jeffdenhez@yahoo.fr</a><br>
                        <a class="dealers-link" href="http://www.unleadedbmx.com" target="_blank">www.unleadedbmx.com
                        </a><br>

                      </p> 
                    </div>

                    


                    <div class="grid-item ">

                      <p class="dealers-international--label"><strong>GERMANY</strong></p>

                      <p>

                        <strong>Traffic GmbH</strong><br>


                        Tel: +49 (0) 221 5000 57 23<br>


                        <a class="dealers-link"  href="mailto:mail@traffic-distribution.com">mail@traffic-distribution.com</a><br>
                        <a class="dealers-link"  href="http://www.traffic-distribution.com" target="_blank">www.traffic-distribution.com
                        </a><br>

                      </p> 
                    </div>

                    


                    <div class="grid-item ">

                      <p class="dealers-international--label"><strong>GREECE</strong></p>

                      <p>

                        <strong>RideOn Distribution</strong><br>


                        Tel: 0030 2310-234-949<br>


                        <a class="dealers-link"  href="mailto:info@rideon.gr">info@rideon.gr</a><br>
                        <a class="dealers-link"  href="http://www.rideon.gr" target="_blank">www.rideon.gr
                        </a><br>

                      </p> 
                    </div>

                    


                    <div class="grid-item ">

                      <p class="dealers-international--label"><strong>HUNGARY</strong></p>

                      <p>

                        <strong>Velvart</strong><br>


                        Tel: 36 1 351 3942<br>


                        <a class="dealers-link"  href="http://www.velvartbmx.hu" target="_blank">www.velvartbmx.hu
                        </a>

                      </p> 
                    </div>

                    


                    <div class="grid-item">

                      <p class="dealers-international--label"><strong>ITALY</strong></p>

                      <p>

                        <strong>Front Ocean</strong><br>


                        Tel: 39 0362 1797180<br>


                        <a class="dealers-link"  href="http://www.frontocean.com" target="_blank">www.frontocean.com
                        </a>

                      </p> 
                    </div>

                    


                    <div class="grid-item">

                      <p class="dealers-international--label"><strong>LATVIA</strong></p>

                      <p>

                        <strong>Par BMX</strong><br>


                        Tel: +371 26401683<br>


                        <a class="dealers-link"  href="mailto:info@parbmx.com">info@parbmx.com</a><br>
                        <a class="dealers-link"  href="http://www.parbmx.com" target="_blank">www.parbmx.com
                        </a><br>

                      </p> 
                    </div>

                    


                    <div class="grid-item">

                      <p class="dealers-international--label"><strong>LITHUANIA</strong></p>

                      <p>

                        <strong>Par BMX</strong><br>


                        Tel: +371 26401683<br>


                        <a class="dealers-link"  href="mailto:info@parbmx.com">info@parbmx.com</a><br>
                        <a class="dealers-link"  href="http://www.parbmx.com" target="_blank">www.parbmx.com
                        </a><br>

                      </p> 
                    </div>

                    


                    <div class="grid-item ">

                      <p class="dealers-international--label"><strong>MALTA</strong></p>

                      <p>

                        <strong>Epic Trade</strong><br>


                        Tel: 00356 21470665<br>


                        <a class="dealers-link"  href="mailto:info@epicmalta.com">info@epicmalta.com</a><br>
                        <a class="dealers-link"  href="http://www.epicmalta.com" target="_blank">www.epicmalta.com
                        </a><br>

                      </p> 
                    </div>

                    


                    <div class="grid-item ">

                      <p class="dealers-international--label"><strong>NETHERLANDS</strong></p>

                      <p>

                        <strong>Rock N Roll BMX</strong><br>


                        Tel: 0031 204081041<br>


                        <a class="dealers-link"  href="mailto:info@rocknrollbmx.com">info@rocknrollbmx.com</a><br>
                        <a class="dealers-link"  href="http://www.rocknrollbmx.com" target="_blank">www.rocknrollbmx.com
                        </a><br>

                      </p> 
                    </div>

                    


                    <div class="grid-item ">

                      <p class="dealers-international--label"><strong>NORWAY</strong></p>

                      <p>

                        <strong>Lilland Sport AS</strong><br>


                        Tel: +47 330 74 850<br>


                        <a class="dealers-link"  href="mailto:support@bikeshop.no">support@bikeshop.no</a><br>
                        <a class="dealers-link"  href="http://www.bikeshop.no" target="_blank">www.bikeshop.no
                        </a><br>

                      </p> 
                    </div>

                    


                    <div class="grid-item">

                      <p class="dealers-international--label"><strong>POLAND</strong></p>

                      <p>

                        <strong>BMX Forever</strong><br>


                        Tel: +48 61 8324071<br>


                        <a class="dealers-link"  href="mailto:info@bmxforever.pl">info@bmxforever.pl</a><br>
                        <a class="dealers-link"  href="http://www.bmxforever.pl" target="_blank">www.bmxforever.pl
                        </a><br>

                      </p> 
                    </div>

                    


                    <div class="grid-item ">

                      <p class="dealers-international--label"><strong>ROMANIA</strong></p>

                      <p>

                        <strong>BikeDistrict</strong><br>


                        Tel: +40722350009<br>


                        <a class="dealers-link" href="mailto:contact@bikedistrict.ro">contact@bikedistrict.ro</a><br>
                        <a class="dealers-link"  href="http://www.bikedistrict.ro" target="_blank">www.bikedistrict.ro
                        </a>

                      </p> 
                    </div>

                    


                    <div class="grid-item">

                      <p class="dealers-international--label"><strong>SLOVAKIA</strong></p>

                      <p>

                        <strong>Junkride Crew</strong><br>


                        Tel: +421908161428<br>


                        <a class="dealers-link"  href="mailto:info@junkridecrew.com">info@junkridecrew.com</a><br>
                        <a class="dealers-link"  href="http://www.junkridecrew.com" target="_blank">www.junkridecrew.com
                        </a>

                      </p> 
                    </div>

                    


                    <div class="grid-item ">

                      <p class="dealers-international--label"><strong>SLOVENIA</strong></p>

                      <p>

                        <strong>Evolution BMX</strong><br>


                        Tel: 386 40463382<br>


                        <a class="dealers-link"  href="mailto:luka@evolution-bmx.com">luka@evolution-bmx.com</a><br>
                        <a class="dealers-link"   href="http://www.evolution-bmx.com" target="_blank">www.evolution-bmx.com
                        </a><br>

                      </p> 
                    </div>

                    


                    <div class="grid-item ">

                      <p class="dealers-international--label"><strong>SPAIN</strong></p>

                      <p>

                        <strong>Happy Bike Shop</strong><br>


                        Tel: +34 930 218 536<br>


                        <a class="dealers-link"   href="http://www.happybikeshop.com" target="_blank">www.happybikeshop.com
                        </a><br>

                      </p> 
                    </div>

                    


                    <div class="grid-item ">

                      <p class="dealers-international--label"><strong>SWEDEN</strong></p>

                      <p>

                        <strong>Centrano</strong><br>


                        Tel: 45 70444999<br>


                        <a class="dealers-link"  href="http://www.centrano.com" target="_blank">www.centrano.com
                        </a><br>

                      </p> 
                    </div>

                    


                    <div class="grid-item ">

                      <p class="dealers-international--label"><strong>UK</strong></p>

                      <p>

                        <strong>Seventies</strong><br>


                        Tel: +44 (0) 1424 855 556<br>


                        <a class="dealers-link"  href="mailto:sales@seventies.co.uk">sales@seventies.co.uk</a><br>
                        <a class="dealers-link"  href="http://www.seventies.co.uk" target="_blank">www.seventies.co.uk
                        </a><br>

                      </p> 
                    </div>

                    


                    <div class="grid-item ">

                      <p class="dealers-international--label"><strong>UKRAINE</strong></p>

                      <p>

                        <strong>VeloDream</strong><br>


                        Tel: +8-0432-672-733<br>


                        <a class="dealers-link" href="http://www.my-velodream.com" target="_blank">www.my-velodream.com
                        </a>

                      </p> 
                    </div>

                    
                  </div>
                </div>

              </div><!-- end of accordion body -->
            </div><!-- end of accordion item -->
            <div class="accordion__item js-accordion-item">
              <div class="accordion-header js-accordion-header">NORTH AMERICA</div> 
              <div class="accordion-body js-accordion-body">
                <div class="accordion-body__contents">
                  <div class="table-wrapper">

                    <div class="grid__item">

                      <p class="dealers-international--label"><strong>USA</strong></p>

                      <p>

                        <strong>Blackout Distribution</strong><br>


                        Tel: 585-654-5250<br>


                        <a class="dealers-link" href="mailto:info@blackoutbmx.com">info@blackoutbmx.com</a><br>
                        <a class="dealers-link" href="http://www.blackoutbmx.com" target="_blank">www.blackoutbmx.com
                        </a><br>

                      </p> 
                    </div>

                    


                    <div class="grid__item ">

                      <p class="dealers-international--label"><strong>CANADA</strong></p>

                      <p>

                        <strong>OGC</strong><br>


                        Tel: 514-332-1320<br>


                        <a class="dealers-link" href="http://www.ogcbmx.ca" target="_blank">www.ogcbmx.ca
                        </a>

                      </p> 
                    </div>

                    


                    <div class="grid__item">

                      <p class="dealers-international--label"><strong>EL SALVADOR</strong></p>

                      <p>

                        <strong>Old Street BMX</strong><br>


                        Tel: 503 7827 8830<br>


                        <a class="dealers-link" href="mailto:edfullbmx3@hotmail.com">edfullbmx3@hotmail.com</a><br>
                        <a class="dealers-link" href="http://www.facebook.com/oldstreetbmx" target="_blank">Old Street Facebook
                        </a><br>

                      </p> 
                    </div>

                    


                    <div class="grid__item ">

                      <p class="dealers-international--label"><strong>EL SALVADOR</strong></p>

                      <p>

                        <strong>Underground</strong><br>


                        Tel: 503 2225 6616<br>


                        <a class="dealers-link" href="mailto:alejandro_h2o@hotmail.com">alejandro_h2o@hotmail.com</a><br>
                        <a class="dealers-link" href="http://www.facebook.com/underground.sv/" target=" _blank">Under Ground Facebook
                        </a><br>

                      </p> 
                    </div>

                    


                    <div class="grid__item ">

                      <p class="dealers-international--label"><strong>GUATEMALA</strong></p>

                      <p>

                        <strong>More BMX</strong><br>


                        Tel: 502 4128 9388<br>


                        <a class="dealers-link" href="mailto:mr.mimo85@gmail.com">mr.mimo85@gmail.com</a><br>
                        <a class="dealers-link" href="http://www.facebook.com/morebmx1/" target="_blank">More BMX Facebook
                        </a><br>

                      </p> 
                    </div>

                    


                    <div class="grid__item ">

                      <p class="dealers-international--label"><strong>HONDURAS</strong></p>

                      <p>

                        <strong>Piezas Para BMX</strong><br>



                        <a class="dealers-link" href="mailto:baudiliocastro.cc@gmail.com">baudiliocastro.cc@gmail.com</a><br>
                        <a class="dealers-link" href="https://www.facebook.com/BMXHondurasproducts/" target="_blank">Piezas Para BMX Facebook
                        </a><br>

                      </p> 
                    </div>

                    


                    <div class="grid__item ">

                      <p class="dealers-international--label"><strong>MEXICO</strong></p>

                      <p>

                        <strong>Tlaloc Lifestyle</strong><br>


                        Tel: 52 877 772 1488<br>


                        <a class="dealers-link" href="mailto:urbanclothingcompany@gmail.com">urbanclothingcompany@gmail.com</a><br>
                        <a class="dealers-link" href="http://www.facebook.com/TlalocBMX" target="_blank">Tlaloc Lifestyle Facebook
                        </a><br>

                      </p> 
                    </div>

                    


                    <div class="grid__item ">

                      <p class="dealers-international--label"><strong>MEXICO</strong></p>

                      <p>

                        <strong>Whatever Shop</strong><br>


                        Tel: 52 662 193 0912<br>


                        <a class="dealers-link" href="mailto:dyra10@gmail.com">dyra10@gmail.com</a><br>
                        <a class="dealers-link" href="http://www.facebook.com/whatevershop/" target="_blank">Whatever Shop Facebook
                        </a>

                      </p> 
                    </div>

                    


                    <div class="grid__item ">

                      <p class="dealers-international--label"><strong>MEXICO</strong></p>

                      <p>

                        <strong>Rich Bikes</strong><br>


                        Tel: 52 33 1544 8853<br>


                        <a class="dealers-link" href="mailto:lcp.ricardoyanez@hotmail.com">lcp.ricardoyanez@hotmail.com</a><br>
                        <a class="dealers-link" href="http://www.facebook.com/RICHBIKES/" target="_blank">Rich Bikes Facebook
                        </a>

                      </p> 
                    </div>

                    


                    <div class="grid__item ">

                      <p class="dealers-international--label"><strong>MEXICO</strong></p>

                      <p>

                        <strong>Prisen Co</strong><br>


                        Tel: 52 81 1243 2655<br>


                        <a class="dealers-link" href="mailto:prisen.co@hotmail.com">prisen.co@hotmail.com</a><br>
                        <a class="dealers-link" href="https://www.facebook.com/PRISENCOBIKES/" target="_blank">Prisen Co Facebook
                        </a><br>

                      </p> 
                    </div>

                    


                    <div class="grid__item ">

                      <p class="dealers-international--label"><strong>MEXICO</strong></p>

                      <p>

                        <strong>No Rules</strong><br>


                        Tel: 4774954657<br>


                        <a class="dealers-link" href="mailto:polleon3@hotmail.com">polleon3@hotmail.com</a><br>
                        <a class="dealers-link" href="http://www.norulesbmx.com.mx" target="_blank">www.norulesbmx.com.mx
                        </a><br>

                      </p> 
                    </div>

                    


                    <div class="grid__item ">

                      <p class="dealers-international--label"><strong>MEXICO</strong></p>

                      <p>

                        <strong>Luka Bikes</strong><br>


                        Tel: 52 95 6725 9882<br>


                        <a class="dealers-link" href="mailto:pepe_biker_22@hotmail.com">pepe_biker_22@hotmail.com</a>

                      </p> 
                    </div>

                    


                    <div class="grid__item >

                      <p class="dealers-international--label"><strong>PANAMA</strong></p>

                      <p>

                        <strong>The Wall</strong><br>


                        Tel: 507-6263-4986<br>


                        <a class="dealers-link" href="mailto:info@wallridedistro.com">info@wallridedistro.com</a><br>
                        <a  class="dealers-link"href="http://www.wallridedistro.com" target="_blank">www.wallridedistro.com
                        </a><br>

                      </p> 
                    </div>

                  </div>
                </div>

              </div><!-- end of accordion body -->
            </div><!-- end of accordion item -->
            <div class="accordion__item js-accordion-item">
              <div class="accordion-header js-accordion-header">SOUTH AMERICA</div> 
              <div class="accordion-body js-accordion-body">
                <div class="accordion-body__contents">
                  <div class="table-wrapper">


                    <div class="grid__item ">

                      <p class="dealers-international--label"><strong>ARGENTINA</strong></p>

                      <p>

                        <strong>Bicicletas Mo</strong><br>


                        Tel: 0054-341-4234563<br>


                        <a class="dealers-link" href="mailto:laislademo@hotmail.com">laislademo@hotmail.com</a><br>
                        <a class="dealers-link" href="http://www.bicicletasmo.com.ar" target="_blank">www.bicicletasmo.com.ar
                        </a><br>

                      </p> 
                    </div>

                    


                    <div class="grid__item ">

                      <p class="dealers-international--label"><strong>BRAZIL</strong></p>

                      <p>

                        <strong>Generation BMX</strong><br>


                        Tel: 55 11 2533-3768<br>


                        <a class="dealers-link" href="mailto:generationbmxstore@gmail.com">generationbmxstore@gmail.com</a><br>
                        <a class="dealers-link" href="http://www.generationbmx.com.br" target="_blank">www.generationbmx.com.br
                        </a><br>

                      </p> 
                    </div>

                    


                    <div class="grid__item ">

                      <p class="dealers-international--label"><strong>CHILE</strong></p>

                      <p>

                        <strong>IBikes</strong><br>


                        Tel: +56 2 2634 3325<br>


                        <a class="dealers-link" href="http://www.ibikes.cl" target="_blank">ibikes.cl</a>

                      </p> 
                    </div>

                    


                    <div class="grid__item >

                      <p class="dealers-international--label"><strong>COLUMBIA</strong></p>

                      <p>

                        <strong>Bogota Underground Park</strong><br>


                        Tel: 57 7100-903<br>


                        <a class="dealers-link" href="mailto:yenypc@hotmail.com">yenypc@hotmail.com</a><br>
                        <a class="dealers-link" href="https://www.facebook.com/Underground-Park" target="_blank">Underground Park Facebook
                        </a>

                      </p> 
                    </div>

                    


                    <div class="grid__item">

                      <p class="dealers-international--label"><strong>ECUADOR</strong></p>

                      <p>

                        <strong>Sbirro Shop</strong><br>


                        Tel: 593 510 5163<br>


                        <a class="dealers-link" href="mailto:info@sbirroshop.com">info@sbirroshop.com</a><br>
                        <a class="dealers-link" href="http://www.facebook.com/sbirro.shop/" target="_blank">Sbirro Shop Facebook
                        </a><br>

                      </p> 
                    </div>

                    


                    <div class="grid__item ">

                      <p class="dealers-international--label"><strong>PERU</strong></p>

                      <p>

                        <strong>Marino Bike S.A.C.</strong><br>


                        Tel: 511-969756247<br>


                        <a class="dealers-link" href="mailto:marino@marinobike.com">marino@marinobike.com</a><br>
                        <a  class="dealers-link" href="http://www.marinobike.com" target="_blank">www.marinobike.com
                        </a>

                      </p> 
                    </div>

                    
                  </div>
                </div>

              </div><!-- end of accordion body -->
            </div><!-- end of accordion item -->

          </div><!-- end of accordion -->


        </div>
        <%- include("partials/footer") %>
