<%- include("partials/header") %>
<link rel="stylesheet" type="text/css" href="/stylesheets/faqs.css">

<header class="faqs-page-header">
	<h1 class="faqs-page-title">FAQS</h1>
</header>

<div class="faqs-page" > 
	<div   class="faqs-page-content" >   

		<h5>HOW CAN I GET KINK STICKERS?</h5>
		<p>
			You can order Kink sticker packs and other items in the shop section on our website. You can also mail in $3 cash, check, or money order to Kink BMX “Attn: Stickers” 40 Greenleaf St. Rochester, NY 14609 USA.

		</p>

		<h5>	WILL KINK SPONSOR ME?</h5>
		<p>

			Being part of the Kink team is much more than just being a good BMX rider, but also having a good attitude towards BMX and others. Since we can’t really judge these things from a video or over the internet, we only sponsor people we have met in person. So go ride your bike, have fun and if you see any of the Kink guys come say hello.
		</p>
		<h5>WILL KINK BMX SPONSOR OUR JAM, CONTEST OR EVENT?</h5>
		<p>We do co-sponsor events with product and prize donations, please read our <a href="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/Kink-BMX-Event-Sponsorship-Requirements.pdf" class="underline" >  Event Sponsorship Requirements here.</a> </p>

		<h5>WHERE CAN I BUY KINK PRODUCTS?</h5>
		<p>
			Please use the dealer locator to find your nearest Kink dealer or you can order online from any of the top BMX mail-order sites. If you live outside the US, please contact the distributor in your country. To find your local Kink dealer, online retailer or distributor click <a href="/pages/dealer-locator/" class="underline" >  here. </a></p>
		<h5>HOW DO I BECOME A KINK BMX DEALER?</h5>
		<p>
				To become a Kink BMX dealer in the US, please contact our distributor Blackout BMX at <a href="https://blackoutbmx.com/" class="underline" >www.blackoutbmx.com </a>  or info@blackoutbmx.com. If you would like distribute Kink products outside of the US, please use the contact form above.</p>
		<h5>WHAT IS TRUTHERM?</h5>
		<p>
				TruTherm is Kink’s own post-weld heat treating process used on frames, forks, handlebars and cranks. We have spent several years working closely with our manufacturers to perfect these techniques and all TruTherm products are backed by our Kink BMX warranty.
		</p>
     </div>

</div>
		<%- include("partials/footer") %>
