<%- include("partials/header") %>
 <link rel="stylesheet" type="text/css" href="stylesheets/registration.css">

<div class="wrapper">
		<div class="title" style="margin-bottom: 10%; ">
			<h1 style="margin: 0;" class="h1-register">PASSWORD RESET</h1>
            <h6>We will send you an email to reset your password.</h6>
		</div>

     


       <% if(error && error.length > 0) { %>
         <div class="errors" style="width: 100%;">
            <ul class="ul-register">
                <li><%= error %> </li>
            </ul>
         </div>
       <% } %>
     
     <% if(success && success.length > 0) { %>
         <div class="success" style="width: 100%;">
            <ul class="ul-register">
                <li><%= success %> </li>
            </ul>
         </div>
       <% } %>
		


           <form class="form-register" action="/forgot" method="post">

           	   <div class="row">
               <div class="col-12 ">
               <label class="label-register" for="email">Email</label>
               <input class="input-register" type="email" name="email" placeholder="">
                </div>



                <div class="col-12" id="button">
               <button class="button-register" type="submit"><p class="p-register">SUBMIT</p></button>
                </div>
               </div>
           </form>

</div>

<%- include("partials/footer") %>