

<%- include("partials/header") %>
<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">

<div class="landing_section">   
<ul class="landing-links" >

  <li> <a href="/collections/bikes">Bikes</a></li>
  <li> <a href="/collections/frames">Frames</a></li>
  <li> <a href="/collections/parts">Parts</a>
    <li> <a href='/collections/apparel'>Apparel</a>
      <li> <a href="https://www.youtube.com/channel/UCTcAhfF9BLSDoJawNXZ7t-Q?sub_confirmation=1">Videos</a></li>
      <li> <a href="/pages/dealer-locator">Dealers</a></li>
      <li> <a href="/pages/team">Team</a></li>
      <li> <a href="/blogs">News</a></li>
      
      
    </ul>
    <div class="homeblock" > 
    <img id="homeimage" src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/homepageimage2_2200x.jpg?v=1574285778">
    <img id="kink-bmx-logo" src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/WHITE_K-BRICK_400x.png?v=1572274935">
    </div>
  </div>


  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
   <ol class="carousel-indicators">
     <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
     <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
     <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
   </ol>
   <div class="carousel-inner">
     <div class="carousel-item active">
       <img src="https://i.pinimg.com/originals/52/e6/d7/52e6d7025f92967769bd3aea1a8835ec.jpg" class="d-block w-100" alt="..." >
       <div class="carousel-caption d-md-block">
         <h1     >2021 BIKE COLLECTION</h1>
         <p id="desk" >Available soon!</p>
         <p id="view"  >  <a href="/collections/bikes">view now</a> </p>
       </div>
     </div>
     <div class="carousel-item">
       <img src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/3-royal.jpg?v=1583513267" class="d-block w-100" alt="..." >
       <div class="carousel-caption d-md-block">
         <h1  >SS20 APPAREL COLLECTION</h1>
         <p  id="desk" >Checkout out the new lookbook!</p>
         <p id="view"  > <a href="/pages/ss20">view now</a> </p>
       </div>
     </div>
     <div class="carousel-item">
       <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/2bd90556764517.59bb0950eb6b5.jpg" class="d-block w-100" alt="..." width="1366px" height="768px">
       <div class="carousel-caption d-md-block">
         <h1  >PALE MINT COLORWAY</h1>
         <p  id="desk">Available now!</p>
         <p  id="view"  > <a href="/collections/parts/matte-pale-mint">shop now</a> </p>
       </div>
     </div>
   </div>
   
 </div>

 <div class="brand">
  <h4 id="h4">Brand new</h4>
  <h2 id="h2">Brace Cranks</h2>
  <a href="/collections/brakes">  <div class="peep"> <p> peep the newest addition </p>  <div id="trio"></div> </div> </a>

  <div id="brace">  
    <a href="/collections/brakes"> <img   src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/Q1_Kink_HP_Slider_brace-cranks4_900x.jpg?v=1583531642"></a>

  </div>
</div>


<div id="shopify-section-1568220132636" class="shopify-section index-section--flush"><style data-shopify="">
 @media screen and (max-width: 768px) {
   .background-media-text--1568220132636 {
     background: #000000;
   }
 }

 .background-media-text--1568220132636 .background-media-text__text {
   background: rgba(218, 170, 0, 0.6);
 }
</style>

<div data-section-id="1568220132636" data-section-type="video-section" class="video-parent-section background-media-text background-media-text--1568220132636 background-media-text--550 aos-init aos-animate loaded" data-aos="background-media-text__animation">

 <div class="background-media-text__video">





  <div class="in"></div>

   <video id="Mp4Video-1568220132636" src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/Websitetest3.mp4?v=1584566498" loop="" muted="" playsinline="" autoplay=""></video>


 </div>
 
         <div class="background-media-text__text" >

           <h2 class="background-media-text__title">Kink BMX Presents "Champagne"</h2>
       
           <a href="https://www.youtube.com/watch?v=ijKycMD-Zy0" class="ui secondary button">
             WATCH FULL VIDEO
           </a>

         </div>
   

 
</div>

     <div class="section-header">
       <h2 class="h1 header-large ">
         2021 BIKE COLLECTION
       </h2>
     </div>


<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
 <div class="card">
   <a href="#">  <img src="https://cdn.shopify.com/s/files/1/0027/8645/9757/products/Coast2021_540x.jpg?v=1585854775" class="card-img-top" alt="..."> </a>
   
   <div class="card-body card-body-bike">
  
     <p class="card-text">COAST 12" 2021
</p>
     <p class="card-text"><small class="price">$149.99</small></p>
   </div>
 </div>
 </div>
  <div class="col mb-4">
 <div class="card">
   <a href="#"> <img src="https://cdn.shopify.com/s/files/1/0027/8645/9757/products/roaster2021_540x.jpg?v=1585855594" class="card-img-top" alt="...">  </a>
   
   <div class="card-body card-body-bike">

     <p class="card-text">ROASTER 12" 2021
</p>
     <p class="card-text"><small class="price">$199.99</small></p>
   </div>
 </div>
</div>
<div class="col mb-4">
 <div class="card">
   <a href="#"> 

    <img src="https://cdn.shopify.com/s/files/1/0027/8645/9757/products/pump2021_540x.jpg?v=1585855555" class="card-img-top" alt="...">
    </a>
   <div class="card-body card-body-bike">
     
     <p class="card-text">PUMP 14" 2021
</p>
     <p class="card-text"><small class="price">$259.99</small></p>
   </div>
 </div>
</div>
<div class="col mb-4">
 <div class="card">
   <a href="#">  

    <img src="https://cdn.shopify.com/s/files/1/0027/8645/9757/products/Carve2021_540x.jpg?v=1586210361" class="card-img-top" alt="...">
   </a>
   <div class="card-body card-body-bike">
     
     <p class="card-text">CARVE 16" 2021

</p>
     <p class="card-text"><small class="price">$319.99</small></p>
   </div>
 </div>
</div>
<div class="col mb-4">
 <div class="card">
   <a href="#">  

    <img src="https://cdn.shopify.com/s/files/1/0027/8645/9757/products/kicker2021_540x.jpg?v=1585855334" class="card-img-top" alt="...">
   </a>
   <div class="card-body card-body-bike">
     
     <p class="card-text">KICKER 18" 2021

</p>
     <p class="card-text"><small class="price">$319.99</small></p>
   </div>
 </div>
</div>
<div class="col mb-4">
  <div class="card">
   <a href="#"> 

    <img src="https://cdn.shopify.com/s/files/1/0027/8645/9757/products/Curb2021black_540x.jpg?v=1585854929" class="card-img-top" alt="...">
    </a>
   <div class="card-body card-body-bike">
     
     <p class="card-text">CURB 2021

</p>
     <p class="card-text"><small class="price">$289.99</small></p>
   </div>
 </div>
</div>

</div>

<div class="container-fluid-team">
   <h1 class="team-header">Pro Team</h1>
   <div class="row row-team">
     <div class="col-12 col-md-4" style="display: block;">
       <a class="team-link" href="#"><img class="team-img" src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/nathan1_540x.jpg?v=1574281647">
       <h1 class="team-name">Nathan Williams</h1></a>
     </div>
     <div class="col-12 col-md-4">
       <a class="team-link" href="#"><img class="team-img" src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/hobie2_540x.jpg?v=1574281676">
       <h1 class="team-name">Hobie Doan</h1></a>
     </div>
     <div class="col-12 col-md-4">
       <a class="team-link" href="#"><img class="team-img" src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/travis_portrait1_540x.jpg?v=1574281721">
       <h1 class="team-name">Travis Hughes</h1></a>
     </div>
     <div class="col-12 col-md-4">
       <a class="team-link" href="#"><img class="team-img" src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/dan1_540x.jpg?v=1574281736">
       <h1 class="team-name">Dan Cooler</h1></a>
     </div>
     <div class="col-12 col-md-4">
       <a class="team-link" href="#"><img class="team-img" src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/calvin1_540x.jpg?v=1574281747">
       <h1 class="team-name">Calvin Kosovich</h1></a>
     </div>
     <div class="col-12 col-md-4">
       <a class="team-link" href="#"><img class="team-img" src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/chad1_540x.jpg?v=1574281759">
       <h1 class="team-name">Chad Osburn</h1></a>
     </div>
     <button class="team-button"><a class="team-link" href="/pages/team"><p class="team-button-text" >View All</p></a></button>
   </div>
 </div>



<%- include("partials/footer") %>