<%- include("partials/header") %>

<link rel="stylesheet" type="text/css" href="/stylesheets/media.css">
<header class="manuals-guides-header">
	<h1 class="manuals-guides-title">MANUALS + GUIDES</h1>
</header>


<p class="manuals-guides-download-head">BIKE OWNER'S MANUAL 2020</p>
<button class="manuals-guides-button"><a class="media-link" href="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/2020_OWNERS_MANUAL.pdf?3072"><p class="manuals-guides-text" >CLICK HERE</p></a></button>

<p class="manuals-guides-download-head">BIKE SIZING GUIDE</p>
<button class="manuals-guides-button"><a class="media-link" href="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/KinkBMXBikeSizingGuide.pdf"><p class="manuals-guides-text" >CLICK HERE</p></a></button>

<p class="manuals-guides-download-head">EAST-COASTER SLACK GUIDE</p>
<button class="manuals-guides-button"><a class="media-link" href="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/Kink-BMX-East-Coaster-Slack-Guide.pdf?3072"><p class="manuals-guides-text" >CLICK HERE</p></a></button>

<p class="manuals-guides-download-head">UNIVERSAL FREECOASTER GUIDE <br>
INSTALLATION GUIDE</p>
<button class="manuals-guides-button"><a class="media-link" href="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/Kink-BMX-Universal-Freecoaster-Guard.pdf?3072"><p class="manuals-guides-text" >CLICK HERE</p></a></button>




<%- include("partials/footer") %>
