<%- include("partials/header") %>

<div class="wrapper">
	<link rel="stylesheet" type="text/css" href="/stylesheets/media.css">
<header class="media-page-header">
	<h1 class="media-page-title">Media Info</h1>
</header>


<p class="media-download-head">DOWNLOAD MEDIA KIT</p>
  <button class="media-button"><a class="media-link" href="/pages/download"><p class="media-button-text" >Download</p></a></button>
</div>


<%- include("partials/footer") %>

