<%- include("partials/header") %>
<link rel="stylesheet" type="text/css" href="/stylesheets/product-registration.css">
<header class="product-registration-page-header">
	<h1 class="product-registration-page-title">PRODUCT REGISTRATION</h1>
</header>



<div class="product-registration-page-content">
	<h2 class="product-registration-page-content-h2"><b>REGISTRATION DETAILS</b></h2>
	<p class="product-registration-page-content-p">Thanks for choosing Kink BMX! If you purchased a new Kink BMX complete bike, frame, fork, handlebar, or crank set you must register it here to validate your product-registration. You may also register by mail if a product-registration registration card was included with your product. Please be sure to fill out all details accurately, and we will send you a free Kink BMX sticker pack by mail upon registration.</p>
	<p class="product-registration-page-content-p"><b>Please Note:</b> For complete bikes and aftermarket frames, the serial number is located underneath the bottom bracket. Fork serial numbers are located on the steerer tube. Handlebar serial numbers are located on the grip area of the bar. Crank serial numbers are located near the sprocket bolt hole.</p>
	<hr class="product-registration-page-content-hr" id="flash">

    <div class="errors" >
            <ul class="ul-register">
                <li>Please enter all of fields with "*"</li>
            </ul>
     </div>
     
      <% if(success && success.length > 0) { %>
         <div class="success">
            <ul class="ul-register">
                <li><%= success %> </li>
            </ul>
         </div>
       <% } %>

	<form action="/pages/product-registration" method="post">
	<h2 class="product-registration-page-content-h2"><b >REGISTRATION FORM</b></h2>
	<h6 style="margin-top: 40px;" class="product-registration-page-content-h6">Rider Info</h6>
	<div class="row">
		<div class="col-md-6 product-registration-page-content-col-md-6">
			<input class="product-registration-page-content-input product-registration-page-page-content-input-main" type="" name="product[firstName]" placeholder="First Name*">
		</div>
		<div class="col-md-6 product-registration-page-content-col-md-6">
			<input class="product-registration-page-content-input product-registration-page-page-content-input-main" type="" name="product[lastName]" placeholder="Last Name*">
		</div>
		<div class="col-md-12 product-registration-page-content-col-md-12">
			<input class="product-registration-page-content-input product-registration-page-page-content-input-main" type="" name="product[streetAdress]" placeholder="Street Adress*">
		</div>
		<div class="col-md-12 product-registration-page-content-col-md-12">
			<input class="product-registration-page-content-input" type="" name="product[streetAdressLine]" placeholder="Street Adress Line 2">
		</div>
		<div class="col-md-6 product-registration-page-content-col-md-6">
			<input class="product-registration-page-content-input product-registration-page-page-content-input-main" name="product[city]" placeholder="City*">
		</div>
		<div class="col-md-6 product-registration-page-content-col-md-6">
			<input class="product-registration-page-content-input product-registration-page-page-content-input-main" type="" name="product[state]" placeholder="State/Province*">
		</div>
		<div class="col-md-6 product-registration-page-content-col-md-6">
			<input class="product-registration-page-content-input product-registration-page-page-content-input-main" type="" name="product[zip]" placeholder="ZIP/Postal code*">
		</div>
		<div class="col-md-6 product-registration-page-content-col-md-6">
			<input class="product-registration-page-content-input product-registration-page-page-content-input-main" type="" name="product[country]" placeholder="Country*">
		</div>
		<div class="col-md-6 product-registration-page-content-col-md-6">
			<input class="product-registration-page-content-input product-registration-page-page-content-input-main" type="email" name="product[email]" placeholder="Email*">
		</div>
		<div class="col-md-6 product-registration-page-content-col-md-6">
			<input class="product-registration-page-content-input" type="" name="product[phoneNumber]" placeholder="Phone Number">
		</div>
		<div class="col-md-6 product-registration-page-content-col-md-6">
			<input class="product-registration-page-content-input" type="" name="product[age]" placeholder="Age of rider">
		</div>
		<div class="col-md-6 product-registration-page-content-col-md-6">
			<input class="product-registration-page-content-input" type="" name="product[yearsRiding]" placeholder="Number of years riding bmx">
		</div>
	</div>
		<h6 class="product-registration-page-content-h6">Product Details</h6>
	<div class="row">
		<div class="col-md-6 product-registration-page-content-col-md-6">
			<input class="product-registration-page-content-input product-registration-page-page-content-input-main" name="product[product]" placeholder="Product (Ex. Titan II Frame)*">
		</div>
		<div class="col-md-6 product-registration-page-content-col-md-6">
			<input class="product-registration-page-content-input" type="" name="product[modelYear]" placeholder="Model year (yyyy)">
		</div>
		<div class="col-md-6 product-registration-page-content-col-md-6">
			<input class="product-registration-page-content-input product-registration-page-page-content-input-main" type="" name="product[color]" placeholder="Color (Ex. Black)*">
		</div>
		<div class="col-md-6 product-registration-page-content-col-md-6">
			<input class="product-registration-page-content-input" type="" name="product[size]" placeholder="Size (Ex. 20.5in / 175mm)">
		</div>
		<div class="col-md-12 product-registration-page-content-col-md-12">
			<input class="product-registration-page-content-input" type="" name="product[serialNumber]" placeholder="Serial number or date code (bikes, frames, forks, bars, cranks only)">
		</div>
	</div>
	<h6 class="product-registration-page-content-h6">PURCHASE & ASSEMBLY DETAILS</h6>
	<div class="row">
		<div class="col-md-6 product-registration-page-content-col-md-6">
			<input class="product-registration-page-content-input product-registration-page-page-content-input-main" name="product[bikeShop]" placeholder="Bike Shop or online retailer*">
		</div>
		<div class="col-md-6 product-registration-page-content-col-md-6">
			<div class="date-picker">
			<input class="product-registration-page-content-input selected-date product-registration-page-page-content-input-main" name="product[purchaseDate]" placeholder="PURCHASE date" disabled>
			    <div class="dates">

			    <div class="month">
				<div class="arrows prev-mth">&lt;</div>
				<div class="mth"></div>
				<div class="arrows next-mth">&gt;</div>
			    </div>

			     <div class="days"></div>

		         </div>
		    </div>
		</div>
		<div class="col-md-6 product-registration-page-content-col-md-6">
			<input class="product-registration-page-content-input" type="" name="product[assembledBy]" placeholder="Assembled by myself/ bike shop">
		</div>
	</div>
	<h6 class="product-registration-page-content-h6">Product Details</h6>
	<div class="row row-textarea">
		<div class="col-md-12 product-registration-page-content-col-md-12">
			<textarea name="product[details]" class="product-registration-page-content-textarea"></textarea>
		</div>
	</div>
	<div class="clickable">
		<button class="product-registration-button" type="submit"><p class="product-registration-button-text">Submit</p></button>
	</div>
	

   </form>

   

  

	
</div>
<script type="text/javascript">
const date_picker_element = document.querySelector('.date-picker');
const selected_date_element = document.querySelector('.selected-date');
const dates_element = document.querySelector('.date-picker .dates');
const mth_element = document.querySelector('.date-picker .dates .month .mth');
const next_mth_element = document.querySelector('.date-picker .dates .month .next-mth');
const prev_mth_element = document.querySelector('.date-picker .dates .month .prev-mth');
const days_element = document.querySelector('.date-picker .dates .days');
const inputs_main  = document.querySelectorAll(".product-registration-page-page-content-input-main");
const submit_btn = document.querySelector('.product-registration-page-button');
const clickable = document.querySelector('.clickable');
const errors_div = document.querySelector('.errors');




const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

let date = new Date();
let day = date.getDate();
let month = date.getMonth();
let year = date.getFullYear();

let selectedDate = date;
let selectedDay = day;
let selectedMonth = month;
let selectedYear = year;

mth_element.textContent = months[month] + ' ' + year;



populateDates();
 checkInputs();

// EVENT LISTENERS



clickable.addEventListener('click', showMessage);
date_picker_element.addEventListener('click', toggleDatePicker);
next_mth_element.addEventListener('click', goToNextMonth);
prev_mth_element.addEventListener('click', goToPrevMonth);

// FUNCTIONS
function showMessage(e) {
	errors_div.style.display = "block";
	window.location = "/pages/product-registration#flash";
}



function toggleDatePicker (e) {

	if (!checkEventPathForClass(e.path, 'dates')) {
		dates_element.classList.toggle('active');
		selected_date_element.value = formatDate(selectedDate);
        selected_date_element.dataset.value = selectedDate;
		checkInputs();
	}
}

function hideMessage (e) {
	errors_div.style.display = "none";
}

function checkInputs (e){	
        
        inputs_main.forEach((input) => {
        	input.oninput = function (){
	        if (input.value == ""){
        		input.style.borderColor = "red";
        	}
            if (input.value !== ""){
        		input.style.borderColor = 'rgb(129, 129, 129)';
        		$('.product-registration-button').attr('disabled', false);
        		clickable.addEventListener('click', hideMessage);
            }
            };
         	
        	if (input.value == ""){
        		input.style.borderColor = "red";
        		$('.product-registration-button').attr('disabled', true);
        	}
            if (input.value !== ""){
        		input.style.borderColor = 'rgb(129, 129, 129)';
        		$('.product-registration-button').attr('disabled', false);
        		clickable.addEventListener('click', hideMessage);
            }
        });
}

function goToNextMonth (e) {
	month++;
	if (month > 11) {
		month = 0;
		year++;
	}
	mth_element.textContent = months[month] + ' ' + year;
	populateDates();
}

function goToPrevMonth (e) {
	month--;
	if (month < 0) {
		month = 11;
		year--;
	}
	mth_element.textContent = months[month] + ' ' + year;
	populateDates();
}

function populateDates (e) {
	days_element.innerHTML = '';

	if (month % 2 == 0 ){ 
	    if (month == 8 || month == 10) {
            var amount_days = 30;
	    } else {
	    	var amount_days = 31;
	    }
		
	} else {
		if (month == 1) {
			if(year % 4 == 0){
                 var amount_days = 29;
			} else {
				 var amount_days = 28;
			}
		   
	    } 
	    else if (month == 7 || month == 9 || month == 11){
	    var amount_days = 31;
	    } else {
	    	var amount_days = 30;
	    }
	}
	

	

	for (let i = 0; i < amount_days; i++) {
		const day_element = document.createElement('div');
		day_element.classList.add('day');
		day_element.textContent = i + 1;

		if (selectedDay == (i + 1) && selectedYear == year && selectedMonth == month) {
			day_element.classList.add('selected');
		}
        
		day_element.addEventListener('click', function () {
			selectedDate = new Date(year + '-' + (month + 1) + '-' + (i + 1));
			selectedDay = (i + 1);
			selectedMonth = month;
			selectedYear = year;

			selected_date_element.value = formatDate(selectedDate);

			selected_date_element.dataset.value = selectedDate;

			populateDates();

		});

		days_element.appendChild(day_element);


	}

}

// HELPER FUNCTIONS
function checkEventPathForClass (path, selector) {
	for (let i = 0; i < path.length; i++) {
		if (path[i].classList && path[i].classList.contains(selector)) {
			return true;
		}
	}
	
	return false;

}
function formatDate (d) {
	let day = d.getDate();
	if (day < 10) {
		day = '0' + day;
	}

	let month = d.getMonth() + 1;
	if (month < 10) {
		month = '0' + month;
	}

	let year = d.getFullYear();

	return day + ' / ' + month + ' / ' + year;

}

</script>
<%- include("partials/footer") %>
