<%- include("partials/header") %>
<link rel="stylesheet" type="text/css" href="/stylesheets/ss20.css">

<header class="ss20-page-header">
	<h1 class="ss20-page-title">SS20 APPAREL COLLECTION</h1>
</header>

<div  class="ss20-page">

	<div class="ss20-content">  
		<img  class="ss20-look-book"  src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/1-cover_bebfef79-fc9f-4040-9d71-878047e197c0.jpg?v=1583513194" >
		<div class="ss20-pic" >  
			<img  src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/2-debasser-razor.jpg?v=1583513230">
			<div class="ss20-links" > 
				<a class="ss20-left-link" href="#"> <span  class="underline" > Classic Debaser Tee </span> </a>
				<a class="ss20-right-link" href="#"><span  class="underline" > Razor Tee </span></a>
			</div>
		</div>
		<div class="ss20-pic" >  
			<img  src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/3-royal.jpg?v=1583513267">
			<div class="ss20-links" > 
				<a class="ss20-left-link" href="#"> <span  class="underline" > Royal Tee </span> </a>
				<a class="ss20-right-link" href="#"style="visibility: hidden;"><span  class="underline" > .</span></a>


			</div>
		</div>
		<div class="ss20-pic" >  
			<img  src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/4-founders-hat.jpg?v=1583513293">
			<div class="ss20-links" > 
				<a class="ss20-left-link" href="#"> <span  class="underline" > Founders Snapback Hat </span> </a>
				<a class="ss20-right-link" href="#"style="visibility: hidden;"><span  class="underline" > .</span></a>


			</div>
		</div>
		<div class="ss20-pic" >  
			<img  src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/5-classified.jpg?v=1583513315">
			<div class="ss20-links" > 
				<a class="ss20-left-link" href="#"> <span  class="underline" > Classified Tee </span> </a>
				<a class="ss20-right-link" href="#"style="visibility: hidden;"><span  class="underline" > . </span></a>


			</div>
		</div>
		<div class="ss20-pic" >  
			<img  src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/6-coast-clip.jpg?v=1583513342">
			<div class="ss20-links" > 
				<a class="ss20-left-link" href="#"> <span  class="underline" > Coast Lightweight Pullover</span> </a>
				<a class="ss20-right-link" href="#"style="visibility: hidden;"><span  class="underline" > .</span></a>


			</div>
		</div>
		<div class="ss20-pic" >  
			<img  src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/7-JV-shorts.jpg?v=1583513363">
			<div class="ss20-links" > 
				<a class="ss20-left-link" href="#"> <span  class="underline" >JV Mesh Shorts</span> </a>
				<a class="ss20-right-link" href="#"><span  class="underline" > JV Mesh Shorts </span></a>


			</div>
		</div>

		<div class="ss20-pic" >  
			<img  src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/8-neighbor-blk.jpg?v=1583513391">
			<div class="ss20-links" > 
				<a class="ss20-left-link" href="#"> <span  class="underline" > Neighbor Hoodie Pullover</span> </a>
				<a class="ss20-right-link" href="#"style="visibility: hidden;"><span  class="underline" > . </span></a>


			</div>
		</div>

		<div class="ss20-pic" >  
			<img  src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/10-chinaski.jpg?v=1583513437">
			<div class="ss20-links" > 
				<a class="ss20-left-link" href="#"> <span  class="underline" > Chinaski Tee</span> </a>
				<a class="ss20-right-link" href="#"style="visibility: hidden;"><span  class="underline" > . </span></a>


			</div>
		</div>

		<div class="ss20-pic" >  
			<img  src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/12-union-bag-security.jpg?v=1583513483">
			<div class="ss20-links" > 
				<a class="ss20-left-link" href="#"> <span  class="underline" > Union Backpack</span> </a>
				<a class="ss20-right-link" href="#"><span  class="underline" > Security Tee </span></a>


			</div>
		</div>

		<div class="ss20-pic" >  
			<img  src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/13-neighbor-gld.jpg?v=1583513507">
			<div class="ss20-links" > 
				<a class="ss20-left-link" href="#"> <span  class="underline" > Neighbor Hoodie Pullover</span> </a>
				<a class="ss20-right-link" href="#" style="visibility: hidden;"><span  class="underline" > . </span></a>


			</div>
		</div>

		<div class="ss20-pic" >  
			<img  src="https://cdn.shopify.com/s/files/1/0027/8645/9757/files/14-export-hat.jpg?v=1583513532">
			<div class="ss20-links" > 
				<a class="ss20-left-link" href="#"> <span  class="underline" > Export Snapback Hat</span> </a>
				<a class="ss20-right-link" href="#"><span  class="underline" > Espionage Tee </span></a>


			</div>
		</div>


	</div>

</div>



<%- include("partials/footer") %>

