<%- include("partials/header") %>
<link rel="stylesheet" type="text/css" href="/stylesheets/warranty.css">
<header class="warranty-page-header">
	<h1 class="warranty-page-title">WARRANTY AND CLAIM FORM</h1>
</header>

<div class="warranty-page-content">
	<b>General Policy</b>
	<ul>
		<li class="warranty-page-content-li">All Kink products are warranted by Kink to be free from any defects in workmanship and materials.</li>
		<li class="warranty-page-content-li">This warranty is for the original purchaser and owner of the Kink product only.</li>
		<li class="warranty-page-content-li">If the Kink product includes a warranty card, it must be returned or registered online within fourteen (14) days of purchase.</li>
		<li class="warranty-page-content-li">Normal wear, neglect, improper use, improper assembly or general product abuse is not covered.</li>
		<li class="warranty-page-content-li">Cost of shipping the product back to Kink and any labor charges incurred are not covered. However, Kink will cover shipping costs of the replacement item back to you.</li>
		<li class="warranty-page-content-li">Please contact Kink with any problems you are having with our product(s), even if you do not think it is covered under this warranty policy. We will do our best to take care of any issue you are having with our products.</li>

	</ul>
	<b>Complete Bikes</b>
	<ul>
		<li class="warranty-page-content-li">One (1) year warranty against material defects, workmanship defects, breaks, cracks and defective or malfunctioning parts. Complete bikes are designed for different level riders, therefore the technology and components used may vary between models. We offer this warranty to assure you we stand behind all of our products and that they are built with the best materials and workmanship possible.</li>
		<li class="warranty-page-content-li">Regardless of the place of purchase, your bike must be assembled by a qualified bike shop. Assembling a Kink bike yourself, could void all warranty coverage. Your bike will come semi-assembled for shipping only. All parts pre-assembled are not properly adjusted for riding and must be checked over and adjusted by a qualified bike shop. We also strongly recommend that ongoing maintenance and/or upgrades are done by a qualified bike shop.</li>
		<li class="warranty-page-content-li">Issues that are not covered after being built by a reputable bike shop include; stripped threads and/or rounded nuts, bent dropouts, bent axles, tires, tubes, grips, minor paint and cosmetic finishes, dents, rider abuse, misuse, neglect, or improper maintenance. The rider is also responsible for purchasing a bike appropriate to their riding level.</li>
	</ul>
	<b>Aftermarket Frames, Forks, Handlebars, and Cranks</b>
	<ul>
		<li class="warranty-page-content-li">Two (2) year warranty against material defects, workmanship defects, breaks, and cracks. Bends will be handled on a case by case basis. A lifetime crash replacement upgrade will be offered for products older than two (2) years.</li>
	</ul>
	<b>Aftermarket Pillar Cranks</b>
	<ul>
		<li class="warranty-page-content-li">Lifetime warranty against material defects, workmanship defects, breaks and cracks. Bending, twisting or denting will be handled on a case by case basis.</li>
	</ul>
	<b>Aftermarket Parts</b>
	<ul>
		<li class="warranty-page-content-li">Two (2) year warranty against material defects, workmanship defects, breaks and cracks.</li>
	</ul>
	<b>Wear and Tear Parts</b>
	<ul>
		<li class="warranty-page-content-li">Thirty (30) day warranty against manufacturer defects only. This includes parts such as tires, grips, seats, plastic pedal bodies, and plastic hub guards. These items are designed to have a limited lifespan and are not covered against cracks, breaks, rips, tears or wear.</li>
	</ul>
	<b>Apparel and Merch</b>
	<ul>
		<li class="warranty-page-content-li">Fifteen (15) day warranty against manufacturer defects only (ex. misprints, sewing defects).</li>
	</ul>
	<b>Additional Note</b>
	<ul>
		<li class="warranty-page-content-li">Products that have been claimed under warranty already or replaced with a crash replacement upgrade will only be covered with a thirty (30) day manufacturer defect warranty, and not the full warranty. These items may not be covered a second time, and will be treated on a case by case basis. If you damage a product beyond its original warranty timeframe, you may be eligible to purchase a replacement or upgrade at a discounted price.</li>
	</ul>
	<b>Product Warning</b>
	<ul>
		<li class="warranty-page-content-li">Use Kink products at your own risk. These products have been engineered and manufactured using the best materials and workmanship available and are intended to be used by an experienced bicycle rider. These products are to be installed or assembled by an experienced bicycle mechanic and used only in the manner intended by the bicycle manufacturer. Be sure to follow any enclosed instructions when installing Kink products. Do not use this product if defective or damaged. The purchaser or user assumes all risks associated with the use of this product and is responsible for purchasing the correct product(s) for their riding ability.</li>
	</ul>
	<hr class="warranty-page-content-hr">
	<b>Warranty Process (USA)</b>
	<ul>
		<li class="warranty-page-content-li">If you have a broken, defective or malfunctioning Kink product that you believe is covered under our warranty policy, you may submit a claim on our website at www.kinkbmx.com/warranty.</li>
		<li class="warranty-page-content-li">When submitting a warranty claim, you will be required to provide the following information: Full name, address, email, phone number, product information, place of purchase, proof of purchase, proof of faulty product (photo/video), and a description of claim.</li>
		<li class="warranty-page-content-li">Once you have submitted the warranty claim, it will be reviewed by the Kink warranty department. The warranty department will then contact you with a Return Authorization Number (RA#) and further instructions.</li>
		<li class="warranty-page-content-li">After the Kink warranty department has issued you an RA#, you must send the defective product back to Kink. The package must be clearly labeled with the RA#.</li>
		<li class="warranty-page-content-li">Ship the item(s) back via USPS Priority Mail, UPS, or FedEx to:</li>
		    <p class="warranty-page-content-p" style="margin-top:20px; ">Kink BMX</p>
		    <p class="warranty-page-content-p">ATTN: warranty</p>
		    <p class="warranty-page-content-p">40 Greenleaf St</p>
		    <p class="warranty-page-content-p">Rochester, NY 14609</p>
		    <p class="warranty-page-content-p"  style="margin-bottom: 20px; ">USA</p>
		<li class="warranty-page-content-li">After Kink examines the product and determines it is defective or faulty, your product will be replaced free of charge. Warrantied products are subject to repair, availability or alternative products deemed more suitable by Kink. The exact color and/or model product is not guaranteed.</li>
	</ul>
	<b>Warranty Process (International)</b>
	<ul>
		<li class="warranty-page-content-li">If you live outside of the United States; please contact the Kink distributor in the country where you purchased the Kink product. A full list of international distributors can be found on our website at www.kinkbmx.com.</li>
	</ul>
	<hr class="warranty-page-content-hr" id="error">
	
	 <div class="errors" >
            <ul class="ul-register">
                <li>Please enter all of fields with "*"</li>
            </ul>
     </div>
     
      <% if(success && success.length > 0) { %>
         <div class="success">
            <ul class="ul-register">
                <li><%= success %> </li>
            </ul>
         </div>
       <% } %>

       <form action="/pages/warranty" method="post" enctype="multipart/form-data">
	<b>Warranty Claim Form</b>
	<h6 class="warranty-page-content-h6">Rider Info</h6>
	<div class="row">
		<div class="col-md-6 warranty-page-content-col-md-6">
			<input class="warranty-page-content-input warranty-page-content-input-main" type="" name="warranty[firstName]" placeholder="First Name*">
		</div>
		<div class="col-md-6 warranty-page-content-col-md-6">
			<input class="warranty-page-content-input warranty-page-content-input-main" type="" name="warranty[lastName]" placeholder="Last Name*">
		</div>
		<div class="col-md-12 warranty-page-content-col-md-12">
			<input class="warranty-page-content-input warranty-page-content-input-main" type="" name="warranty[streetAdress]" placeholder="Street Adress*">
		</div>
		<div class="col-md-12 warranty-page-content-col-md-12">
			<input class="warranty-page-content-input" type="" name="warranty[streetAdressLine]" placeholder="Street Adress Line 2">
		</div>
		<div class="col-md-6 warranty-page-content-col-md-6">
			<input class="warranty-page-content-input warranty-page-content-input-main" name="warranty[city]" placeholder="City*">
		</div>
		<div class="col-md-6 warranty-page-content-col-md-6">
			<input class="warranty-page-content-input warranty-page-content-input-main" type="" name="warranty[state]" placeholder="State/Province*">
		</div>
		<div class="col-md-6 warranty-page-content-col-md-6">
			<input class="warranty-page-content-input warranty-page-content-input-main" type="" name="warranty[zip]" placeholder="ZIP/Postal code*">
		</div>
		<div class="col-md-6 warranty-page-content-col-md-6">
			<input class="warranty-page-content-input warranty-page-content-input-main" type="" name="warranty[country]" placeholder="Country*">
		</div>
		<div class="col-md-6 warranty-page-content-col-md-6">
			<input class="warranty-page-content-input warranty-page-content-input-main" type="" name="warranty[email]" placeholder="Email*">
		</div>
		<div class="col-md-6 warranty-page-content-col-md-6">
			<input class="warranty-page-content-input warranty-page-content-input-main" type="" name="warranty[phoneNumber]" placeholder="Phone Number*">
		</div>
	</div>
		<h6 class="warranty-page-content-h6">Product Details</h6>
	<div class="row">
		<div class="col-md-6 warranty-page-content-col-md-6">
			<input class="warranty-page-content-input warranty-page-content-input-main" name="warranty[product]" placeholder="Product (Ex. Titan II Frame)*">
		</div>
		<div class="col-md-6 warranty-page-content-col-md-6">
			<input class="warranty-page-content-input" type="" name="warranty[color]" placeholder="Color (Ex. Black)">
		</div>
		<div class="col-md-6 warranty-page-content-col-md-6">
			<input class="warranty-page-content-input" type="" name="warranty[size]" placeholder="Size (Ex. 20.5in / 175mm)">
		</div>
		<div class="col-md-12 warranty-page-content-col-md-12">
			<input class="warranty-page-content-input" type="" name="warranty[serialNumber]" placeholder="Serial number or date code (bikes, frames, forks, bars, cranks only)">
		</div>
	</div>
	<h6 class="warranty-page-content-h6">PURCHASE & ASSEMBLY DETAILS</h6>
	<div class="row">
		<div class="col-md-6 warranty-page-content-col-md-6">
			<input class="warranty-page-content-input warranty-page-content-input-main" name="warranty[bikeShop]" placeholder="Bike Shop or online retailer*">
		</div>
		<div class="col-md-6 warranty-page-content-col-md-6">
			<input class="warranty-page-content-input" type="" name="warranty[modelYear]" placeholder="Model year (Ex.2015)">
		</div>
		<div class="col-md-6 warranty-page-content-col-md-6">
			<div class="date-picker">
			<input class="warranty-page-content-input selected-date " name="warranty[purchaseDate]" placeholder="Date (dd/mm/yyyy)*" disabled>
			    <div class="dates">

			    <div class="month">
				<div class="arrows prev-mth">&lt;</div>
				<div class="mth"></div>
				<div class="arrows next-mth">&gt;</div>
			    </div>

			     <div class="days"></div>

		         </div>
		    </div>
		</div>
		<div class="col-md-6 warranty-page-content-col-md-12">
			<input class="warranty-page-content-input warranty-page-content-input-main" type="" name="warranty[assembledBy]" placeholder="Assembled by myself/ bike shop">
		</div>
	</div>
	<h6 class="warranty-page-content-h6">PRODUCT ISSUE/DEFECT INFORMATION</h6>
	<div class="row row-textarea">
		<div class="col-md-12 warranty-page-content-col-md-12">
			<textarea class="warranty-page-content-textarea warranty-page-content-input-main" name="warranty[issue]"></textarea>
		</div>
	</div>
	<h6 class="warranty-page-content-h6">UPLOAD PROOF OF PURCHASE OR RECEIPT (SCAN OR MOBILE PHOTO)</h6>
	<div class="form-group">
  	 
    <input type="file" name="purchasePhoto" id="fileOne" class="input-file">
    <label for="fileOne" class="btn label-upload">
      <span class="warranty-button-text warranty-button-text-upload-one">Upload file</span>
    </label>
   
  </div>
	<h6 class="warranty-page-content-h6">UPLOAD PRODUCT IMAGES, INCLUDING IMAGES OF DEFECTS</h6>
	<div class="form-group">
  	
    <input type="file" name="defectPhoto" id="fileTwo" class="input-file">
    <label for="fileTwo" class="btn label-upload">
      <span class="warranty-button-text warranty-button-text-upload-two">Upload file</span>
    </label>
    

  </div>
  <div class="clickable">
	<button class="warranty-button" type="submit"><p class="warranty-button-text">Submit</p></button>
  </div>
   

  

	
</div>
</form>
<script type="text/javascript">
const date_picker_element = document.querySelector('.date-picker');
const selected_date_element = document.querySelector('.selected-date');
const dates_element = document.querySelector('.date-picker .dates');
const mth_element = document.querySelector('.date-picker .dates .month .mth');
const next_mth_element = document.querySelector('.date-picker .dates .month .next-mth');
const prev_mth_element = document.querySelector('.date-picker .dates .month .prev-mth');
const days_element = document.querySelector('.date-picker .dates .days');
const inputs_main  = document.querySelectorAll(".warranty-page-content-input-main");
const submit_btn = document.querySelector('.warranty-button');
const clickable = document.querySelector('.clickable');
const errors_div = document.querySelector('.errors');




const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

let date = new Date();
let day = date.getDate();
let month = date.getMonth();
let year = date.getFullYear();

let selectedDate = date;
let selectedDay = day;
let selectedMonth = month;
let selectedYear = year;

mth_element.textContent = months[month] + ' ' + year;



populateDates();
 checkInputs();

// EVENT LISTENERS

$('#fileOne').change(function() {
  $('.warranty-button-text-upload-one').html('File Uploaded');
});

$('#fileTwo').change(function() {
  $('.warranty-button-text-upload-two').html('File Uploaded');
});

clickable.addEventListener('click', showMessage);
date_picker_element.addEventListener('click', toggleDatePicker);
next_mth_element.addEventListener('click', goToNextMonth);
prev_mth_element.addEventListener('click', goToPrevMonth);

// FUNCTIONS
function showMessage(e) {
	errors_div.style.display = "block";
	window.location = "/pages/warranty#error";
}



function toggleDatePicker (e) {

	if (!checkEventPathForClass(e.path, 'dates')) {
		dates_element.classList.toggle('active');
		selected_date_element.value = formatDate(selectedDate);
        selected_date_element.dataset.value = selectedDate;
		checkInputs();
	}
}

function hideMessage (e) {
	errors_div.style.display = "none";
}

function checkInputs (e){	
        
        inputs_main.forEach((input) => {
        	input.oninput = function (){
	        if (input.value == ""){
        		input.style.borderColor = "red";
        	}
            if (input.value !== ""){
        		input.style.borderColor = 'rgb(129, 129, 129)';
        		$('.warranty-button').attr('disabled', false);
        		clickable.addEventListener('click', hideMessage);
            }
            };
         	
        	if (input.value == ""){
        		input.style.borderColor = "red";
        		$('.warranty-button').attr('disabled', true);
        	}
            if (input.value !== ""){
        		input.style.borderColor = 'rgb(129, 129, 129)';
        		$('.warranty-button').attr('disabled', false);
        		clickable.addEventListener('click', hideMessage);
            }
        });
}

function goToNextMonth (e) {
	month++;
	if (month > 11) {
		month = 0;
		year++;
	}
	mth_element.textContent = months[month] + ' ' + year;
	populateDates();
}

function goToPrevMonth (e) {
	month--;
	if (month < 0) {
		month = 11;
		year--;
	}
	mth_element.textContent = months[month] + ' ' + year;
	populateDates();
}

function populateDates (e) {
	days_element.innerHTML = '';

	if (month % 2 == 0 ){ 
	    if (month == 8 || month == 10) {
            var amount_days = 30;
	    } else {
	    	var amount_days = 31;
	    }
		
	} else {
		if (month == 1) {
			if(year % 4 == 0){
                 var amount_days = 29;
			} else {
				 var amount_days = 28;
			}
		   
	    } 
	    else if (month == 7 || month == 9 || month == 11){
	    var amount_days = 31;
	    } else {
	    	var amount_days = 30;
	    }
	}

	for (let i = 0; i < amount_days; i++) {
		const day_element = document.createElement('div');
		day_element.classList.add('day');
		day_element.textContent = i + 1;

		if (selectedDay == (i + 1) && selectedYear == year && selectedMonth == month) {
			day_element.classList.add('selected');
		}
        
		day_element.addEventListener('click', function () {
			selectedDate = new Date(year + '-' + (month + 1) + '-' + (i + 1));
			selectedDay = (i + 1);
			selectedMonth = month;
			selectedYear = year;

			selected_date_element.value = formatDate(selectedDate);

			selected_date_element.dataset.value = selectedDate;

			populateDates();

		});

		days_element.appendChild(day_element);


	}
}

// HELPER FUNCTIONS
function checkEventPathForClass (path, selector) {
	for (let i = 0; i < path.length; i++) {
		if (path[i].classList && path[i].classList.contains(selector)) {
			return true;
		}
	}
	
	return false;

}
function formatDate (d) {
	let day = d.getDate();
	if (day < 10) {
		day = '0' + day;
	}

	let month = d.getMonth() + 1;
	if (month < 10) {
		month = '0' + month;
	}

	let year = d.getFullYear();

	return day + ' / ' + month + ' / ' + year;

}

</script>
<%- include("partials/footer") %>

