<%- include("partials/header") %>
<link rel="stylesheet" type="text/css" href="/stylesheets/faqs.css">

<header class="web-store-policy-header">
	<h1 class="web-store-policy-title">Web store policy</h1>
</header>

<div class="web-store-policy" > 
	<div   class="web-store-policy-content" > 
		<h5  class="web-storeh5" >Same Day Shipping</h5>
		<ul>
			<li>
				All orders received before 3:00pm EST will ship the same day, excluding weekends and holidays.
				
			</li>
			<li>
				Orders received after 3:00pm EST will ship the following business day.
				
			</li>
			<li> 
				Once your order has shipped, you will receive an email with your tracking information. Tracking numbers may not become active until after 6:00pm EST.
			</li>
		</ul>
		<h5  class="web-storeh5" >Shipping Information</h5>
		<ul>
			<li>
				We offer USPS Priority, UPS Ground, 3 Day Select, 2 Day Air, Next Day Air Saver, and Next Day Air shipping options. Costs are calculated at checkout.
			</li>
			<li>
				Military addresses APO/FPO will ship with USPS. Costs are calculated at checkout.
			</li>
			<li>
				
				International addresses outside of the United States will ship with USPS, UPS, or DHL. Costs are calculated at checkout. Options may vary depending on the destination country.
			</li>
			<li>
				
				International customers outside of the United States may be subject to taxes and duties depending on your country and the order value. Check your local regulations to determine the taxes and duties that may be charged on your shipment.
			</li>
			


		</ul>
		<h5 class="web-storeh5" >Order Verification</h5>
		<ul>
			<li>All orders are subject to verification, this is done for your protection.
			</li>
			<li>If needed some orders may be held until verified with the customer.</li>
		</ul>
		<h5 class="web-storeh5" >Coupon Codes</h5>
		<ul>
			
			<li>
				We occasionally offer coupon codes for discounts and shipping offers. If you have a valid code, enter it when checking out.
				
			</li>
			<li>
				Coupon codes are limited one per customer and can not be combined. Coupon codes are not valid for purchasing a gift certificate.
				
			</li>
			<li>
				Select items may be excluded from use with coupon codes and/or promotions.
				
			</li>
		</ul>
		<h5 class="web-storeh5" >Payment Options</h5>
		<ul>
			<li>
				We accept a wide range of payments including Visa, MasterCard, American Express, Discover, PayPal, Apple Pay, and Google Pay.
				
			</li>
			<li>
				Sales tax will be added to applicable orders.
				
			</li>
		</ul>
		<h5 class="web-storeh5" >Gift Certificates</h5>
		<ul>
			<li>Coupon codes do not apply to gift certificates. 
				<li>
					Gift certificates are non-refundable.

				</li>
				<li>
					Gift certificates are digital and do not have a shipping charge.

				</li>
				<li>
				Gift certificates expire one year after purchase date.</li>
				
			</li>

		</ul>
	</div>
</div>
<%- include("partials/footer") %>
