header.dealer-locator-page-header{
    width: 100%;
    text-align: center;
    padding: 36px 0;
    min-height: 60px;
    background: #1f1f1f;
}
h1.dealer-locator-page-title{
    margin: 0;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Teko', sans-serif;
    font-weight: 700;
    font-size: 3.2em;
    letter-spacing: 1.7px;
    text-align: center;
}
div.dealer-body {
    width: 100%;
    height: 585px;
    background: #000;
}
iframe {
    width: 59%;
    height: 500px;
    float: right;
    margin-top: 40px;
    margin-right: 10px;
    border-style: none;
}
.dealers-search {
    padding-right: 58px;
    float: left;
    width: 38.5%;
}
.dealers-search-input {
    width: 100%;
    background: #000000;
    border: 1px solid rgb(129, 129, 129);
    height: 100%;
    margin-left: 30px;
    margin-top: 40px;
    color: #ffffff;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    padding: 8px;
    padding-left: 15px;
    outline: none;
}

div.dealers-collections {
    background: #333333;
    width: 100%;
    height: 525px;
    padding: 40px 6% 0px 13%;
}
h2.aut {
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: 46px;
    letter-spacing: 1px;
    font-weight: 100;
}
.dealers-item {
    display: inline-block;
    width: 24%;
}
.column1 {

    margin-top: 30px;

}

.column2 {

    margin-top: 55px;
}
.dealers-online-label {
    font-family: 'Teko', sans-serif;
    color: #DAAA00;
    font-size: 20px;
    letter-spacing: 1px;
}
.dealers-text {
    color: #fff;
    font-family: 'Exo2', sans-serif;
    font-size: 17px;


}
.dealers-link {
    text-decoration: none;
    color: #fff;
    padding-bottom: 4px;
    border-bottom: 2px solid #836600;
    opacity: 80%;
}

.dealers-link:hover {
    text-decoration: none;
    color: #fff;

}
.dealers-online-label {
    position: relative;
}

.addresses {
    height: 450px;
    width: 102%;
    margin-left: 30px;
    margin-top: 15px;
    background: #000;
    overflow-y: auto;

}
.develic-item {
    background-color: #333333;
    min-height: 116px;
    max-height: 140px;
    padding: 12px 18.5px 10px 18.5px;
    margin-top: 13px;
    border-radius: 5px;
    color: white;
    font-family: 'Exo 2', sans-serif;


}
#first{
    margin-top: 0;

}
a.develic-heading {
    color: #D5AA00;
    font-size: 18px;
}
a.develic-heading:hover {
    color: #D5AA00;
    border-bottom: 1px solid #836600;
    padding-bottom: -1px;


}
div.develic-body {
    font-size: 16px;
}
div.develic-body a { 

    color: #F3C440;
}
.distributors-body {
    background-color: #000;

}





.accordion {
    font-size: 1rem;
    width: 75%;
    margin: 20px auto 100px auto;
    border-radius: 5px;
}

.accordion-header,
.accordion-body {
  background: white;
}

.accordion-header {
    padding: 0.6em 1.5em;
    background: #DAAA00;
    color: #000;
    cursor: pointer;
    margin-top: 16px;
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: .1em;
    font-weight: 800;
    transition: all .3s;
    text-transform: uppercase;
}



.accordion__item .accordion__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}



.accordion-body {
  background: #000;
  color: #fff;
  display: none;
}

.accordion-body__contents {
  padding: 1.5em 1.5em;
  font-size: .85em;
}

.accordion__item.active:last-child .accordion-header {
  border-radius: none;
}

.accordion:first-child > .accordion__item > .accordion-header {
  border-bottom: 1px solid transparent;

}

.accordion__item > .accordion-header:after {
  content: "\f107";
  font-family: fontAwesome ;
  font-size: 1.2em;
  float: right;
  position: relative;
  top: -2px;
  transition: .3s all;
  transform: rotate(0deg);
}

.accordion__item.active > .accordion-header:after {
  transform: rotate(-180deg);
}



.accordion__item .accordion__item .accordion-header {
  background: #f1f1f1;
  color: #353535;
}
.grid-item {
    display: inline-grid;
    width: 32.9%;
    font-family: 'Exo 2', sans-serif;
    font-size: 17px;
    margin-top: 34px;
    
}

.grid-item a { 
   text-decoration: none;
   color: #fff;
}

.grid-item a:hover { 
   text-decoration: none;
}


.grid__item {
    display: inline-grid;
    width: 32.9%;
    font-family: 'Exo 2', sans-serif;
    font-size: 17px;
    margin-top: 34px;
    
}

.grid__item a { 
   text-decoration: none;
   color: #fff;
}

.grid__item a:hover { 
   text-decoration: none;
}
{
    display: inline-grid;
    width: 33%;
    font-family: 'Exo 2', sans-serif;
    font-size: 17px;
    margin-top: 34px;
    
}


}
a { 
   text-decoration: none;
   color: #fff;
}



.dealers-international--label {
    margin-bottom: 15px;
    margin-top: 20px;
}

h2.label-small {

    margin-top: 40px;
    font-family: 'Teko', sans-serif;
    font-size: 45px;
    letter-spacing: 1px;
    color: white;
    font-weight: 100;
}





@media screen and (max-width: 768px) { 
    .accordion {

        width: 372px;

    }
    .accordion-header {
        font-size: 14px
    }
    .grid-item {
        font-size: 15px;
        width: 48.9%;
    }
    
    
    div.table-wrapper {
        width: 113%;
        margin-left: -4%;
    }
    h2.label-small {
        font-size: 28px;

    }
    .grid__item {
        font-size: 15px;
        width: 48.9%;
    }
    .column2 {

        margin-top: 0px;
    }
    .dealers-item {
        width: 135px;
        margin-left: 21%;
        margin-top: 45px;
    }
    .addresses {
        height: 415px;
        

    }
    h2.aut {
        text-align: center;
        font-size: 31px;
    }
    div.dealers-search {
        padding-right: 0px;
        width: 95%;
        margin-left: -13px;

    }
    div.dealer-body {
        height: 955px;

    }
    iframe {
        float: none;
        width: 95%;
        margin: 40px 0px -30px 17px;
        height: 398px;
    }
    .develic-item {

        width: 99.5%;
        margin-top: 9px;

    }

    div.dealers-collections {

        height: 780px;
        padding: 40px 0px;
    }

    .dealers-online-label {

        font-size: 15px;

    }
    .dealers-text {
        font-size: 13px;


    }
    .dealers-link {

        padding-bottom: 0px;
        border-bottom: 1px solid #836600;

    }
}

@media screen and (max-width: 600px) {  
    .dealers-item {

        margin-left: 15%;

    }
    @media screen and (max-width: 500px) {  
     .accordion {

        width: 85%;

    }
    .grid-item {
        font-size: 13px;
        
    }
    .grid__item {
        font-size: 13px;
        
    }
}

@media screen and (max-width: 415px) {  
    .dealers-item {

        margin-left: 9%;

    }

    iframe {

        margin: 40px 0px -30px 10.5px;

    }

    div.dealers-search {

        margin-left: -19px;
    }
}

